// If the theme is to be all flat without any rounded
$flat                    : true;

/* Sidebar variables */
// Position from where the sidebar is to be revealed
$sidebar-pos             : left;
// Should the sidebar be overlaid over the content or push the content 
// to reveal itself
$sidebar-overlay         : false;
// Width of the sidebar
$sidebar-width           : 12rem;

/* Navbar variables */
// Margin on top and bottom of navbar-menu
$navbar-margin           : 0.8rem;
// From which screens navbar should be visible
$navbar-visible-screen   : $tablet;

/* Hamburger variables */
// Top and left position of hamburger which triggers opening of sidebar
$hamburger-position-top  : 1.4rem;
$hamburger-position-left : 1.2rem;

/* Roundedness variables */
// Roundedness for button component
$button-radius           : 0.3rem;
// Roundedness for card component
$card-radius             : 0.3rem;
// Roundedness for chip component
$chip-radius             : 0.1rem;
// Roundedness for content header
$header-radius           : 0.25rem;
