/* Reference: http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5&themename=mcgtheme */
/* Reference: https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=1154ff&secondary.color=1da1ff */

$black              : hsl(0, 0%, 0%);   /*rgb(0, 0, 0);*/
$white              : hsl(0, 0%, 100%); /*rgb(255, 255, 255);*/

$red-50: hsl(351, 100%, 96%);    /* #FFEBEE */
$red-100: hsl(354, 100%, 90%);   /* #FFCDD2 */
$red-200: hsl(0, 73%, 77%);      /* #EF9A9A */
$red-300: hsl(0, 69%, 67%);      /* #E57373 */
$red-400: hsl(0, 83%, 63%);      /* #EF5350 */
$red-500: hsl(4, 90%, 58%);      /* #F44336 */
$red-600: hsl(1, 77%, 55%);      /* #E53935 */
$red-700: hsl(0, 65%, 51%);      /* #D32F2F */
$red-800: hsl(0, 66%, 47%);      /* #C62828 */
$red-900: hsl(0, 73%, 41%);      /* #B71C1C */
$red-A100: hsl(5, 100%, 75%);      /* #FF8A80 */
$red-A200: hsl(0, 100%, 66%);      /* #FF5252 */
$red-A400: hsl(348, 100%, 55%);      /* #FF1744 */
$red-A700: hsl(0, 100%, 42%);      /* #D50000 */
