$pt-sans: "PT Sans";
$fira-sans: "Fira Sans";
$pt-serif: "PT Serif";
$barlow-condensed: "Barlow Condensed";
$alegreya: "Alegreya";
$merriweather: "Merriweather";
$roboto: "Roboto";
$eb-garamond: "EB Garamond";
$noto-serif: "Noto Serif";
$adamina: "Adamina";
$lora: "Lora";
$default-font: $pt-sans,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",
                Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$heading-font: $fira-sans,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI Semibold",
                Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",serif;
$coding-font: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
