$pt-sans: "PT Sans";
$default-font: $pt-sans,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",
                Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$heading-font: $pt-sans,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI Semibold",
                Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$coding-font: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
