*
{
    box-sizing: border-box;
    font-family: $default-font;
}

html
{
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: $heading-font;
    a
    {
        font-family: $heading-font;
    }
}

body
{
    margin: 0;
    background-color: $background-color;
    color: $primary-text-color;
    overflow-x: hidden;
}

a
{
    /*border-bottom: 0.05rem $link-text-color dashed;*/
    text-decoration: none;
    color: $link-text-color;
}

.align-center
{
    text-align: center;
}
