$feature-phone  : 20rem;  // 320px; - fp
$mobile         : 40rem;  // 640px; - mp
$minitablet     : 48rem;  // 768px; - mt
$tablet         : 64rem;  //1024px; - t
$laptop         : 80rem;  //1280px; - lp
$desktop        : 86rem;  //1376px; - dp
$fullhd         : 120rem; //1920px; - fh
$ultrahd        : 240rem; //3840px; - uh

@mixin mobile
{
    @media (min-width: #{$mobile}) and
            (max-width: #{$minitablet})
    {
        @content;
    }
}

@mixin minitablet
{
    @media (min-width: #{$minitablet}) and
            (max-width: #{$tablet - 0.0001})
    {
        @content;
    }
}

@mixin tablet
{
    @media (min-width: #{$tablet}) and
            (max-width: #{$laptop - 0.0001})
    {
        @content;
    }
}

@mixin laptop
{
    @media (min-width: #{$laptop}) and
            (max-width: #{$desktop - 0.0001})
    {
        @content;
    }
}

@mixin desktop
{
    @media (min-width: #{$desktop}) and
            (max-width: #{$fullhd - 0.0001})
    {
        @content;
    }
}

@mixin fullhd
{
    @media (min-width: #{$fullhd}) and
            (max-width: #{$ultrahd - 0.0001})
    {
        @content;
    }
}

@mixin ultrahd
{
    @media (min-width: #{$ultrahd})
    {
        @content;
    }
}

@mixin until($device)
{
    @media (max-width: $device - 0.0001)
    {
        @content;
    }
}

@mixin from($device)
{
    @media (min-width: $device - 0.0001)
    {
        @content;
    }
}

@mixin within($min, $max)
{
    @media (min-width: $min) and (max-width: $max)
    {
        @content;
    }
}


