.blog-toc
{
  /*position: sticky;
  top: 2rem;*/
  /*padding-right: 1rem;*/
}

@include sticky("blog-toc-", $navbar-header-size + 2 * $navbar-header-vert-margin + 1.2rem);

.blog-toc-title
{
  border: 0.05rem solid #bbc8c8;
  margin: 0;
  padding: 1rem;
  background-color: var(--primary-background-color);
  color: var(--primary-foreground-color);
}

.blog-toc-contents
{
  /*a
  {
    display: block;
  }
  ul
  {
    list-style-type: none;
    margin: 0.5rem;
    padding: 0;
    p
    {
      margin: 0;
    }
  }
  li
  {
    padding: 0.3rem;
    ul
    {
      margin: 0 1rem;
    }
    a
    {
      text-decoration: none;
      //border-bottom: 0.01rem solid black;
    }
  }
  border: 0.05rem solid #bbc8c8;*/
  ul
  {
    p
    {
      margin: 0;
    }
    list-style-type: none;
    margin: 0;
    padding: 0;
    ul
    {
      list-style-type: none;
      padding: 0;
    }
    li a
    {
      font-size: 1.05rem;
      text-decoration: none;
      padding: 0.25rem 0 0.25rem 0.6rem;
      border-bottom: 0.05rem solid #bbc8c8;
    }
    li a.active
    {
      color: var(--primary-foreground-color);
      background-color: var(--primary-background-color);
      font-size: 1.05rem;
      text-decoration: none;
      padding: 0.25rem 0 0.25rem 0.6rem;
      border-bottom: 0.05rem solid #bbc8c8;
    }
    li li a
    {
      font-size: 0.95rem;
      text-decoration: none;
      padding: 0.25rem 0 0.25rem 1.75rem;
    }
    li li a.active
    {
      color: var(--primary-foreground-color);
      background-color: var(--primary-background-color);
      font-size: 0.95rem;
      text-decoration: none;
      padding: 0.25rem 0 0.25rem 1.75rem;
    }
    li li li a
    {
      font-size: 0.85rem;
      text-decoration: none;
      padding: 0.25rem 0 0.25rem 2.5rem;
    }
    li li li a.active
    {
      color: var(--primary-foreground-color);
      background-color: var(--primary-background-color);
      font-size: 0.85rem;
      text-decoration: none;
      padding: 0.25rem 0 0.25rem 2.5rem;
    }
    a
    {
      display: block;
    }
  }
}

.blog-body
{
  li
  {
    p
    {
      margin: 0;
    }
  }
}
