/*@include placeholder
{
    //font-family: $normal-font;
}*/

input[type=text], input[type=email], input[type=url],
select, textarea
{
    @include until($tablet)
    {
        width: 100%;
    }
    box-sizing: border-box;
    vertical-align: top;
    @if flat == false
    {
        border-radius: 0.1rem;
    }
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 0.05rem solid $primary-background-color-light;
    &:hover
    {
        border-bottom: 0.1rem solid $primary-background-color-light;
    }
    //font-family: $normal-font;
}

input[type=submit]
{
    background-color: $primary-background-color-light;
    color: $primary-foreground-color-light;
    font-weight: bold;
    @if flat == false
    {
        border-radius: 0.25rem;
    }
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    //font-family: $normal-font;
}

input[type=submit]:hover
{
    background-color: darken($primary-background-color-light, 10%);
}

.form-item
{
    width: 100%;
}

.form-label
{
    vertical-align: text-top;
    @include from ($tablet)
    {
        width: 15%;
        display: inline-block;
        text-align: right;
        padding-right: 1rem;
    }
}

.form-input
{
    @include from ($tablet)
    {
        width: 84%;
    }
}

