.card > p:first-of-type
{
    margin-top: 0;
}

.card > p:last-of-type
{
    margin-top: 0;
}

.align-center
{
    text-align: center;
}

.downloads
{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    background: var(--surface-color);
    @if $flat == false
    {
        border-radius: 0.3rem;
    }
    text-align: center;
    padding: 0;
    border: 0.1rem solid var(--surface-color-light);
    a
    {
        padding: 0.5rem 1rem;
        display: block;
        border-bottom: none;
        text-decoration: none;
        color: var(--surface-text-color-light);
    }
    li
    {
        border-right: 0.1rem solid var(--surface-color-light);
        &:last-child
        {
            border-right: 0;
        }
    }
}
