.project-card-footer-items
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    div
    {
        width: 120px;
        text-align: center;
        padding: 0.1rem;
        a
        {
            text-decoration: none;
            border-bottom: none;
            text-align: right;
        }
        i.fa
        {
            width: 20px;
            color: var(--link-text-color);
        }
    }
    @include until($mobile)
    {
        div
        {
            width: 40px;
            .description
            {
                display: none;
            }
        }
    }
}
