*
{
    box-sizing: border-box;
}

html
{
    font-family: $normal-font;
    background-color: $background-color;
    color: $normal-font-color;
    overflow-x: hidden;
    font-size: $root-font-size;
}

h1, h2, h3,
h4, h5, h6
{
    font-family: $header-font;
    color: $header-font-color;
    font-weight: bold;
}

h1
{
    font-size: $header-font-size;
    margin: $header-font-size -(0.4*1) 0;
}
h2
{
    font-size: $header-font-size - (0.2*1);
    margin: $header-font-size -(0.4*2) 0;
}
h3
{
    font-size: $header-font-size - (0.2*2);
    margin: $header-font-size -(0.4*3) 0;
}
h4
{
    font-size: $header-font-size - (0.2*3);
    margin: $header-font-size -(0.4*4) 0;
}
h5
{
    font-size: $header-font-size - (0.2*4);
    margin: $header-font-size -(0.4*5) 0;
}
h6
{
    font-size: $header-font-size - (0.2*5);
    margin: $header-font-size -(0.4*6) 0;
}

a
{
    color: $foreground-color;
    &:hover
    {
        text-decoration: underline;
        cursor: pointer;
    }
}

body
{
    margin: 0;
}
