@mixin calendar-icon
{
  font-family: FontAwesome;
  content: "\e800";
}

@mixin folder-open-icon
{
  font-family: FontAwesome;
  content: "\e801";
}

@mixin tag-icon
{
  font-family: FontAwesome;
  content: "\e802";
}

@mixin home-icon
{
  font-family: FontAwesome;
  content: "\e803";
}

@mixin pencil-icon
{
  font-family: FontAwesome;
  content: "\e804";
}

@mixin phone-icon
{
  font-family: FontAwesome;
  content: "\e805";
}

@mixin down-icon
{
  font-family: FontAwesome;
  content: "\e806";
}

@mixin up-icon
{
  font-family: FontAwesome;
  content: "\e80D";
}

@mixin close-icon
{
  font-family: FontAwesome;
  content: "\e808";
}

@mixin clock-icon
{
  font-family: FontAwesome;
  content: "\e80c";
}


@mixin twitter-icon
{
  font-family: FontAwesome;
  content: "\f099";
}

@mixin facebook-icon
{
  font-family: FontAwesome;
  content: "\f09a";
}

@mixin rss-icon
{
  font-family: FontAwesome;
  content: "\f09e";
}

@mixin menu-icon
{
  font-family: FontAwesome;
  content: "\f0c9";
}

@mixin table-icon
{
  font-family: FontAwesome;
  content: "\f0ce";
}

@mixin mail-icon
{
  font-family: FontAwesome;
  content: "\f0e0";
}

@mixin linkedin-icon
{
  font-family: FontAwesome;
  content: "\f0e1";
}

@mixin github-icon
{
  font-family: FontAwesome;
  content: "\f113";
}

@mixin code-icon
{
  font-family: FontAwesome;
  content: "\f1c9";
}

@mixin zip-icon
{
  font-family: FontAwesome;
  content: "\f1c6";
}

@mixin search-icon
{
  font-family: FontAwesome;
  content: "\e809";
}

@mixin double-left-icon
{
  font-family: FontAwesome;
  content: "\f100";
}

@mixin double-right-icon
{
  font-family: FontAwesome;
  content: "\f101";
}

@mixin left-icon
{
  font-family: FontAwesome;
  content: "\f104";
}

@mixin right-icon
{
  font-family: FontAwesome;
  content: "\f105";
}

@mixin print-icon
{
  font-family: FontAwesome;
  content: "\e80b";
}

@mixin gplus-icon
{
  font-family: FontAwesome;
  content: "\f0d5";
}