.navbar
{
    display: flex;
    flex-direction: row;
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
    // border-bottom: 0.1rem solid var(--navbar-text-color);
    position: fixed;
    width: 100%;
    z-index: $navbar-zindex;
    top: 0;
    .container
    {
        @include until($navbar-visible-screen)
        {
            width: 80%;
        }
    }
}

.navbar-content
{
    display: flex;
    @if $navbar-content-flow == reverse
    {
        flex-direction: row-reverse;
    }
    @else
    {
        flex-direction: row;
    }
    width: 100%;
}

.navbar-header
{
    display: flex;
    margin: var(--navbar-header-vert-margin) 0;
    // color: var(--navbar-text-color);
    color: var(--heading-text-color);
    font-weight: 500;
    a
    {
        font-size: var(--navbar-header-size);
        // color: var(--navbar-text-color);
        color: var(--heading-text-color);
        text-decoration: none;
        border-bottom: none;
        vertical-align: -webkit-baseline-middle;
        &:hover
        {
            text-decoration: none;
        }
    }
    @include until($navbar-visible-screen)
    {
        width: 100%;
        justify-content: center;
        background-color: var(--navbar-background-color);
        color: var(--navbar-text-color);
        a
        {
            color: var(--navbar-text-color);
        }
    }
}

.navbar-menu
{
    font-size: 1rem;
    list-style-type: none;
    margin: var(--navbar-header-vert-margin) 0;
    display: flex;
    flex: 1;
    @if $navbar-content-flow == reverse
    {
        justify-content: flex-start;
    }
    @else
    {
        justify-content: flex-end;
    }
    padding: 0;
    color: var(--navbar-text-color);
    > li
    {
        /* Reference: https://stackoverflow.com/questions/2094508/is-there-a-css-selector-for-the-first-direct-child-only */
        &:not(:last-child)
        {
            border-right: none;
        }
        @if $flat == false
        {
            &:first-child
            {
                border-top-left-radius: var(--navbar-menu-corner-radius);
                border-bottom-left-radius: var(--navbar-menu-corner-radius);
            }
            &:last-child
            {
                border-top-right-radius: var(--navbar-menu-corner-radius);
                border-bottom-right-radius: var(--navbar-menu-corner-radius);
            }
        }
    }
    li
    {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        min-width: 4rem;
        margin: auto 0;
        // border: 0.1rem solid var(--navbar-menu-item-highlight-color);
        color: var(--navbar-text-color);
        &:hover
        {
            background-color: var(--navbar-menu-item-highlight-color);
            .navbar-dropdown-menu
            {
                display: flex;
            }
        }
        a
        {
            text-decoration: none;
            border-bottom: none;
            padding: 0.5rem;
            display: block;
            color: var(--navbar-text-color);
        }
        .dropdown-icon
        {
            border-left: 0.01rem solid var(--navbar-text-color);
            display: inline-block;
        }
    }
    .active
    {
        font-weight: bold;
        background-color: var(--navbar-menu-item-highlight-color);
    }
    @include until($navbar-visible-screen)
    {
        display: none;
    }
    .navbar-menu-item
    {
        border: 0.05rem solid var(--navbar-text-color);
    }
}

/* https://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html */
.navbar-dropdown-menu
{
    position: absolute;
    flex-direction: column;
    padding: 0;
    display: none;
    box-sizing: border-box;
    padding-top: 0.5rem;
    li
    {
        background-color: var(--navbar-menu-item-highlight-color);
        width: 8rem;
        margin: 0;
        &:hover
        {
            border: 0.1rem solid var(--navbar-menu-item-highlight-color);
            background-color: var(--navbar-background-color);
        }
    }
    &::before
    {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        left: 0.5rem;
        top: 0;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        border-color: var(--navbar-menu-item-highlight-color) transparent;
    }
}

