.pager
{
    display: flex;
    @include until($minitablet)
    {
        flex-direction: column;
    }
    width: 100%;
    a
    {
        text-decoration: none;
        border-bottom: none;
        padding: 0.5rem;
        background-color: var(--pager-background-color);
        color: var(--pager-foreground-color);
        &:hover
        {
            text-decoration: none;
            border-bottom: none;
            background-color: var(--pager-foreground-color);
            border-radius: var(--pager-corner-radius);
            color: var(--pager-background-color);
            i.fa
            {
                color: var(--pager-background-color);
            }
        }
    }
    i.fa
    {
        color: var(--pager-foreground-color);
    }
}
.post-page
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    border-bottom: none;
    @include until($minitablet)
    {
        width: 100%;
    }
    /*border: 1px solid $foreground-dark-color;*/
    box-sizing: border-box;
    margin: 0.25rem 0;
    p
    {
        margin: 0;
    }
}
.previous-post
{
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: center;
    /*justify-content: left;*/
    /*text-align: center;
    &::before
    {
        content: "< ";
        white-space: pre;
    }*/
    /*&::before
    {
        @include left-icon;
    }
    &::after
    {
        content: " ";
    }*/
}
.previous-post-title
{
    text-align: left;
}
.next-post
{
    /*justify-content: right;*/
    /*text-align: right;
    &::after
    {
        content: " >";
        white-space: pre;
    }*/
    margin: auto;
    text-align: right;
    display: flex;
    justify-content: center;
    /*&::before
    {
        content: " ";
    }
    &::after
    {
        @include right-icon;
    }*/
}
.next-post-title
{
    text-align: right;
}
