.pager-block
{
  list-style-type: none;
  display: inline-block;
  padding-left: 0;
  font-size: 0;
  margin-top: 1rem;
  li
  {
    font-size: 0.95rem;
    box-sizing: border-box;
    display: inline-block;
    border: 0.05rem solid $primary-foreground-color;
    background-color: $primary-background-color;
    color: $primary-foreground-color-dark;
    &:hover
    {
      display: inline-block;
      background-color: $primary-foreground-color;
      color: $primary-background-color;
    }
    a
    {
      padding: 0.25rem 0.45rem;
      color: $primary-foreground-color;
      text-decoration: none;
      display: inline-block;
      &:hover
      {
        display: inline-block;
        color: $primary-background-color;
      }
    }
  }
  li.first-page
  {
    @if flat == false
    {
      border-bottom-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
    }
  }
  li.last-page
  {
    @if flat == false
    {
      border-bottom-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }
}
.first-page a::before
{
  /*content: "<<";*/
  /*@include double-left-icon;*/
}
.previous a::before
{
  /*content: "<";*/
  /*@include left-icon;*/
}
.previous .disabled-link
{
  cursor: not-allowed;
}
.next a::before
{
  /*content: ">";*/
  /*@include right-icon;*/
}
.next .disabled-link
{
  cursor: not-allowed;
}
.last-page a::before
{
  /*content: ">>";*/
  /*@include double-right-icon;*/
}
