.pager-block
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
  font-size: 0;
  margin-top: 1rem;
  li
  {
    font-size: 0.95rem;
    box-sizing: border-box;
    display: inline-block;
    border: 0.05rem solid var(--pager-foreground-color);
    background-color: var(--pager-background-color);
    color: var(--pager-foreground-color);
    &:hover
    {
      display: inline-block;
      background-color: var(--pager-foreground-color);
      color: var(--pager-background-color);
    }
    a
    {
      padding: 0.25rem 0.45rem;
      color: var(--pager-foreground-color);
      text-decoration: none;
      border-bottom: none;
      display: inline-block;
      &:hover
      {
        display: inline-block;
        color: var(--pager-background-color);
      }
    }
  }
  li.first-page
  {
    @if flat == false
    {
      border-bottom-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
    }

  }
  li.last-page
  {
    @if flat == false
    {
      border-bottom-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }
}

.pager-block
{
    li.first-page, li.last-page, li.previous, li.next
    {
        a i.fa
        {
            color: var(--pager-foreground-color);
        }
        a:hover i.fa
        {
            color: var(--pager-background-color);
        }
    }
}

.first-page a::before
{
  /*content: "<<";*/
  /*@include double-left-icon;*/
}
.previous a::before
{
  /*content: "<";*/
  /*@include left-icon;*/
}
.previous .disabled-link
{
  cursor: not-allowed;
}
.next a::before
{
  /*content: ">";*/
  /*@include right-icon;*/
}
.next .disabled-link
{
  cursor: not-allowed;
}
.last-page a::before
{
  /*content: ">>";*/
  /*@include double-right-icon;*/
}
