.share-content
{
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 2rem 0;
}
.share
{
    font-size: 1rem;
    /*min-width: 25px;*/
    padding: 0.6rem 0;
    flex: 1;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    @if flat == false
    {
        border-radius: $chip-radius;
    }
    &:hover
    {
        text-decoration: none;
    }
    &.facebook
    {
        color: $facebook-color;
        background-color: $background-color;
        border: 0.05rem solid $facebook-color;
        &:hover
        {
            color: $background-color;
            background-color: $facebook-color;
        }
    }
    &.gplus
    {
        color: $gplus-color;
        background-color: $background-color;
        border: 0.05rem solid $gplus-color;
        &:hover
        {
            color: $background-color;
            background-color: $gplus-color;
        }
    }
    &.twitter
    {
        color: $twitter-color;
        background-color: $background-color;
        border: 0.05rem solid $twitter-color;
        &:hover
        {
            color: $background-color;
            background-color: $twitter-color;
        }
    }
    &.linkedin
    {
        color: $linkedin-color;
        background-color: $background-color;
        border: 0.05rem solid $linkedin-color;
        &:hover
        {
            color: $background-color;
            background-color: $linkedin-color;
        }
    }
    &.email
    {
        color: $email-color;
        background-color: $background-color;
        border: 0.05rem solid $email-color;
        &:hover
        {
            color: $background-color;
            background-color: $email-color;
        }
    }
    &.print
    {
        color: $print-color;
        background-color: $background-color;
        border: 0.05rem solid $print-color;
        &:hover
        {
            color: $background-color;
            background-color: $print-color;
        }
    }
}
