@font-face {
  font-family: fontawesome;
  src: url("../font/fontawesome.eot?88308769");
  src: url("../font/fontawesome.eot?88308769#iefix") format('embedded-opentype'),url("../font/fontawesome.woff2?88308769") format('woff2'),url("../font/fontawesome.woff?88308769") format('woff'),url("../font/fontawesome.ttf?88308769") format('truetype'),url("../font/fontawesome.svg?88308769#fontawesome") format('svg');
  font-weight: 400;
  font-style: normal;
}

[class*=" icon-"]:before,
[class^=icon-]:before {
  font-family: fontawesome;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: '\e800';
}

.icon-folder-open:before {
  content: '\e801';
}

.icon-tag:before {
  content: '\e802';
}

.icon-home:before {
  content: '\e803';
}

.icon-pencil:before {
  content: '\e804';
}

.icon-phone:before {
  content: '\e805';
}

.icon-down-dir:before {
  content: '\e806';
}

.icon-right-big:before {
  content: '\e807';
}

.icon-cancel:before {
  content: '\e808';
}

.icon-search:before {
  content: '\e809';
}

.icon-heart:before {
  content: '\e80a';
}

.icon-print:before {
  content: '\e80b';
}

.icon-clock:before {
  content: '\e80c';
}

.icon-up-open:before {
  content: '\e80d';
}

.icon-left-big:before {
  content: '\e80e';
}

.icon-twitter:before {
  content: '\f099';
}

.icon-facebook:before {
  content: '\f09a';
}

.icon-rss:before {
  content: '\f09e';
}

.icon-docs:before {
  content: '\f0c5';
}

.icon-menu:before {
  content: '\f0c9';
}

.icon-table:before {
  content: '\f0ce';
}

.icon-gplus:before {
  content: '\f0d5';
}

.icon-mail-alt:before {
  content: '\f0e0';
}

.icon-linkedin:before {
  content: '\f0e1';
}

.icon-angle-double-left:before {
  content: '\f100';
}

.icon-angle-double-right:before {
  content: '\f101';
}

.icon-angle-left:before {
  content: '\f104';
}

.icon-angle-right:before {
  content: '\f105';
}

.icon-github:before {
  content: '\f113';
}

.icon-file-archive:before {
  content: '\f1c6';
}

.icon-file-code:before {
  content: '\f1c9';
}
.center {
  margin: 0 auto;
}

@media screen and (max-width:55.8rem) {
  .center {
    width: 95%;
  }
}

@media screen and (min-width:55.8rem) {
  .center {
    width: 85%;
  }
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
}

.fixed-top {
  position: absolute;
  top: 0;
}

.fixed {
  position: fixed;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),local("PTSans-Regular"),url("https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0-ExdGM.woff2") format("woff2");
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),local("PTSans-Regular"),url("https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0aExdGM.woff2") format("woff2");
  unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),local("PTSans-Regular"),url("https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0yExdGM.woff2") format("woff2");
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),local("PTSans-Regular"),url("https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2") format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"),local("PTSans-Bold"),url("https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0OOtLQ0Z.woff2") format("woff2");
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"),local("PTSans-Bold"),url("https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0OqtLQ0Z.woff2") format("woff2");
  unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"),local("PTSans-Bold"),url("https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0OCtLQ0Z.woff2") format("woff2");
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"),local("PTSans-Bold"),url("https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tLQ.woff2") format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"),local("PTSerif-Regular"),url("https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFbzr-tdg.woff2") format("woff2");
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"),local("PTSerif-Regular"),url("https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFSzr-tdg.woff2") format("woff2");
  unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"),local("PTSerif-Regular"),url("https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFYzr-tdg.woff2") format("woff2");
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"),local("PTSerif-Regular"),url("https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFWzr8.woff2") format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"),local("PTSerif-Bold"),url("https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qfVyvHpA.woff2") format("woff2");
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"),local("PTSerif-Bold"),url("https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qWVyvHpA.woff2") format("woff2");
  unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"),local("PTSerif-Bold"),url("https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qcVyvHpA.woff2") format("woff2");
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"),local("PTSerif-Bold"),url("https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qSVys.woff2") format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

figure.highlight {
  margin: 1rem 0;
}

pre.highlight {
  padding: .5rem 1rem;
}

code,
pre {
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  white-space: pre;
}

.highlight .lineno {
  padding: 0 1rem;
}

.highlight .code {
  padding: 0 1rem;
}

.highlighter-rouge {
  color: #000;
}

pre {
  background-color: #292828;
}

pre.lineno {
  color: grey;
}

code,
pre {
  color: #fff;
}

.highlight .lineno {
  color: grey;
  border-right: .05rem solid grey;
}

.highlight .hll {
  background-color: #49483e;
}

.highlight .c {
  color: #75715e;
}

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

.highlight .k {
  color: #66d9ef;
}

.highlight .l {
  color: #ae81ff;
}

.highlight .n {
  color: #f8f8f2;
}

.highlight .o {
  color: #f92672;
}

.highlight .p {
  color: #f8f8f2;
}

.highlight .cm {
  color: #75715e;
}

.highlight .cp {
  color: #ebcf42;
}

.highlight .c1 {
  color: #75715e;
}

.highlight .cs {
  color: #75715e;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: 700;
}

.highlight .kc {
  color: #66d9ef;
}

.highlight .kd {
  color: #66d9ef;
}

.highlight .kn {
  color: #f92672;
}

.highlight .kp {
  color: #66d9ef;
}

.highlight .kr {
  color: #66d9ef;
}

.highlight .kt {
  color: #66d9ef;
}

.highlight .ld {
  color: #e6db74;
}

.highlight .m {
  color: #ae81ff;
}

.highlight .s {
  color: #e6db74;
}

.highlight .na {
  color: #a6e22e;
}

.highlight .nb {
  color: #f8f8f2;
}

.highlight .nc {
  color: #a6e22e;
}

.highlight .no {
  color: #66d9ef;
}

.highlight .nd {
  color: #a6e22e;
}

.highlight .ni {
  color: #f8f8f2;
}

.highlight .ne {
  color: #a6e22e;
}

.highlight .nf {
  color: #a6e22e;
}

.highlight .nl {
  color: #f8f8f2;
}

.highlight .nn {
  color: #f8f8f2;
}

.highlight .nx {
  color: #a6e22e;
}

.highlight .py {
  color: #f8f8f2;
}

.highlight .nt {
  color: #f92672;
}

.highlight .nv {
  color: #f8f8f2;
}

.highlight .ow {
  color: #f92672;
}

.highlight .w {
  color: #f8f8f2;
}

.highlight .mf {
  color: #ae81ff;
}

.highlight .mh {
  color: #ae81ff;
}

.highlight .mi {
  color: #ae81ff;
}

.highlight .mo {
  color: #ae81ff;
}

.highlight .sb {
  color: #e6db74;
}

.highlight .sc {
  color: #e6db74;
}

.highlight .sd {
  color: #e6db74;
}

.highlight .s2 {
  color: #e6db74;
}

.highlight .se {
  color: #ae81ff;
}

.highlight .sh {
  color: #e6db74;
}

.highlight .si {
  color: #e6db74;
}

.highlight .sx {
  color: #e6db74;
}

.highlight .sr {
  color: #e6db74;
}

.highlight .s1 {
  color: #e6db74;
}

.highlight .ss {
  color: #e6db74;
}

.highlight .bp {
  color: #f8f8f2;
}

.highlight .vc {
  color: #f8f8f2;
}

.highlight .vg {
  color: #f8f8f2;
}

.highlight .vi {
  color: #f8f8f2;
}

.highlight .il {
  color: #ae81ff;
}

.highlight .gu {
  color: #75715e;
}

.highlight .gd {
  color: #f92672;
}

.highlight .gi {
  color: #a6e22e;
}

body .gist .gist-file {
  margin-bottom: 0;
  border: 1px solid #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-size: 1rem;
}

body .gist .highlight td {
  padding: .2rem .8rem!important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 1rem!important;
}

body .gist tr:last-child td {
  padding-bottom: 1rem!important;
}

body .gist .blob-num {
  color: grey;
  border-right: .05rem solid grey;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

body .gist .highlight {
  background: #272822;
}

body .gist .blob-code-inner,
body .gist .blob-num {
  color: grey;
}

body .gist .pl-s2,
body .gist .pl-stj {
  color: #f8f8f2;
}

body .gist .pl-c1 {
  color: #ae81ff;
}

body .gist .pl-enti {
  color: #a6e22e;
  font-weight: 700;
}

body .gist .pl-st {
  color: #66d9ef;
}

body .gist .pl-mdr {
  color: #66d9ef;
  font-weight: 400;
}

body .gist .pl-ms1 {
  background: #fd971f;
}

body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
  color: #75715e;
  font-style: italic;
}

body .gist .pl-cce,
body .gist .pl-cn,
body .gist .pl-coc,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mp,
body .gist .pl-mp .pl-s3,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-mq,
body .gist .pl-mri,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-pse .pl-s2,
body .gist .pl-smi,
body .gist .pl-stp,
body .gist .pl-sv,
body .gist .pl-v,
body .gist .pl-va,
body .gist .pl-vi,
body .gist .pl-vpf,
body .gist .pl-vpu {
  color: #66d9ef;
}

body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-pds,
body .gist .pl-s,
body .gist .pl-s1,
body .gist .pl-sol {
  color: #e6db74;
}

body .gist .pl-e,
body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-eoi,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-som,
body .gist .pl-sr,
body .gist .pl-vo {
  color: #a6e22e;
}

body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-k,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s3,
body .gist .pl-smc,
body .gist .pl-smp,
body .gist .pl-sok,
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre {
  color: #f92672;
}

body .gist .pl-mb,
body .gist .pl-pdb {
  color: #e6db74;
  font-weight: 700;
}

body .gist .pl-mi,
body .gist .pl-pdi {
  color: #f92672;
  font-style: italic;
}

body .gist .pl-pdc1,
body .gist .pl-scp {
  color: #ae81ff;
}

body .gist .pl-entl,
body .gist .pl-mo,
body .gist .pl-sc,
body .gist .pl-sf {
  color: #fd971f;
}

body .gist .pl-mdht,
body .gist .pl-mi1 {
  color: #a6e22e;
  background: rgba(0,64,0,.5);
}

body .gist .pl-md,
body .gist .pl-mdhf {
  color: #f92672;
  background: rgba(64,0,0,.5);
}

body .gist .pl-mdh,
body .gist .pl-mdi {
  color: #a6e22e;
  font-weight: 400;
}

body .gist .pl-ib,
body .gist .pl-id,
body .gist .pl-ii,
body .gist .pl-iu {
  background: #a6e22e;
  color: #272822;
}

.facebook::before {
  font-family: FontAwesome;
  content: "\f09a";
}

.gplus::before {
  font-family: FontAwesome;
  content: "\f0d5";
}

.twitter::before {
  font-family: FontAwesome;
  content: "\f099";
}

.linkedin::before {
  font-family: FontAwesome;
  content: "\f0e1";
}

.github::before {
  font-family: FontAwesome;
  content: "\f113";
}

.rss::before {
  font-family: FontAwesome;
  content: "\f09e";
}

.print::before {
  font-family: FontAwesome;
  content: "\e80b";
}

.email::before {
  font-family: FontAwesome;
  content: "\f0e0";
}

.ribbon {
  position: absolute;
  right: -.32rem;
  top: -.38rem;
  z-index: 1;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  text-align: right;
}

.ribbon span {
  font-size: .8rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.2rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 9rem;
  display: block;
  box-shadow: 0 3px 10px -5px #000;
  position: absolute;
  top: 2.2rem;
  right: -1.77rem;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-right: .2rem solid transparent;
  border-bottom: .2rem solid transparent;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: .2rem solid transparent;
  border-bottom: .2rem solid transparent;
}

.status-ongoing span {
  background: #1da3f7;
  background: linear-gradient(#4eb7f9 0,#1da3f7 100%);
}

.status-ongoing span::after {
  border-right: .2rem solid #1da3f7;
  border-top: .2rem solid #1da3f7;
}

.status-ongoing span::before {
  border-left: .2rem solid #1da3f7;
  border-top: .2rem solid #1da3f7;
}

.status-complete span {
  background: #29a847;
  background: linear-gradient(#36ce59 0,#29a847 100%);
}

.status-complete span::before {
  border-left: .2rem solid #29a847;
  border-top: .2rem solid #29a847;
}

.status-complete span::after {
  border-right: .2rem solid #29a847;
  border-top: .2rem solid #29a847;
}

.category,
.chip,
.date,
.tag,
.time {
  display: inline-block;
  font-size: .9rem;
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,Calibri,Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",serif;
  margin: .2rem;
  text-decoration: none;
  background-color: #3f7cde;
  color: #e4ebf6;
}

.category:hover,
.chip:hover,
.date:hover,
.tag:hover,
.time:hover {
  text-decoration: none;
}

.category .chip-content,
.chip .chip-content,
.date .chip-content,
.tag .chip-content,
.time .chip-content {
  padding: .05rem .2rem;
  display: inline-block;
  font-size: .9rem;
}

.category .chip-count,
.chip .chip-count,
.date .chip-count,
.tag .chip-count,
.time .chip-count {
  padding: .05rem .2rem;
  background-color: #2262c9;
  color: #6b9ae6;
}

.tag::before {
  font-family: FontAwesome;
  content: "\e802";
  padding: .05rem .2rem;
  color: #e4ebf6;
}

.tag:hover::before {
  color: #3f7cde;
}

.tag {
  background-color: #3f7cde;
  color: #e4ebf6;
  border: .05rem solid #3f7cde;
}

.tag:hover {
  text-decoration: none;
  background-color: #e4ebf6;
  color: #3f7cde;
  border: .05rem solid #3f7cde;
}

.tag .tag-content {
  padding: .05rem .2rem;
  display: inline-block;
  font-size: .9rem;
}

.tag .tag-count {
  padding: .05rem .2rem;
  font-size: .9rem;
  border-left: .05rem solid #becfe9;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #2262c9;
  color: #f7f9fc;
}

@media screen and (max-width:55.8rem) {
  .navbar {
    background-color: #f7f9fc;
    color: #2262c9;
  }
}

.navbar-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbar-header {
  display: flex;
  margin: .5rem .5rem;
  color: #f7f9fc;
}

.navbar-header a {
  font-size: 1.6rem;
  color: #f7f9fc;
  text-decoration: none;
}

.navbar-header a:hover {
  text-decoration: none;
}

@media screen and (max-width:55.8rem) {
  .navbar-header {
    width: 100%;
    justify-content: center;
    background-color: #f7f9fc;
    color: #2262c9;
  }

  .navbar-header a {
    color: #2262c9;
  }
}

.navbar-menu {
  list-style-type: none;
  margin: .5rem .5rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 0;
  color: #f7f9fc;
}

.navbar-menu li {
  box-sizing: border-box;
  position: relative;
  min-width: 4rem;
  margin: auto 0;
  border: .1rem solid #85a4d6;
  color: #f7f9fc;
}

.navbar-menu li:not(:last-child) {
  border-right: none;
}

.navbar-menu li:hover {
  background-color: #102d5c;
}

.navbar-menu li a {
  text-decoration: none;
  padding: .3rem .5rem;
  display: block;
  color: #f7f9fc;
}

.navbar-menu .navbar-menu-active {
  background-color: #102d5c;
}

@media screen and (max-width:55.8rem) {
  .navbar-menu {
    display: none;
  }
}

@media screen and (min-width:55.8rem) {
  .navbar-menu .home::before {
    font-family: FontAwesome;
    content: "\e803";
  }
}

@media screen and (min-width:55.8rem) {
  .navbar-menu .blog::before {
    font-family: FontAwesome;
    content: "\e804";
  }
}

@media screen and (min-width:55.8rem) {
  .navbar-menu .project::before {
    font-family: FontAwesome;
    content: "\f1c9";
  }
}

@media screen and (min-width:55.8rem) {
  .navbar-menu .contact::before {
    font-family: FontAwesome;
    content: "\e805";
  }
}

.navbar-menu .categories::before {
  font-family: FontAwesome;
  content: "\e801";
}

.navbar-menu .tags::before {
  font-family: FontAwesome;
  content: "\e802";
}

.navbar-menu .archives::before {
  font-family: FontAwesome;
  content: "\f1c6";
}

.navbar-menu .search::before {
  font-family: FontAwesome;
  content: "\e809";
}

.navbar-dropdown {
  margin-right: 0;
}

.navbar-dropdown>a::after {
  font-family: FontAwesome;
  content: " \e806";
  white-space: pre;
}

.navbar-dropdown .navbar-dropdown-content {
  position: absolute;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  left: -.3rem;
  z-index: 100;
}

.navbar-dropdown .navbar-dropdown-content li {
  box-sizing: border-box;
  position: relative;
  min-width: 4rem;
  margin: auto .25rem;
  color: #f7f9fc;
  background-color: #2262c9;
  border: .1rem solid #85a4d6;
}

.navbar-dropdown .navbar-dropdown-content li:not(:last-child) {
  border-bottom: none;
}

.navbar-dropdown .navbar-dropdown-content li a {
  text-decoration: none;
  padding: .3rem .5rem;
  display: block;
  color: #f7f9fc;
  border-bottom: .15rem solid #2262c9;
}

.navbar-dropdown .navbar-dropdown-content li a:hover {
  background-color: #102d5c;
  border-bottom: .15rem solid #f7f9fc;
}

.navbar-dropdown:hover>.navbar-dropdown-content {
  display: block;
}

::-webkit-input-placeholder {
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,Calibri,Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",serif;
}

:-moz-placeholder {
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,Calibri,Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",serif;
}

::-moz-placeholder {
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,Calibri,Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",serif;
}

:-ms-input-placeholder {
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,Calibri,Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",serif;
}

input[type=email],
input[type=text],
input[type=url],
select,
textarea {
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: .5rem;
  padding: .5rem;
  border: .05rem solid #2262c9;
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,Calibri,Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",serif;
}

@media screen and (max-width:55.8rem) {
  input[type=email],
  input[type=text],
  input[type=url],
  select,
  textarea {
    width: 100%;
  }
}

input[type=submit] {
  background-color: #2262c9;
  color: #f7f9fc;
  font-weight: 700;
  cursor: pointer;
  padding: .5rem 1rem;
  border: none;
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,Calibri,Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",serif;
}

input[type=submit]:hover {
  background-color: #1b4d9d;
}

.form-item {
  width: 100%;
}

@media screen and (min-width:55.8rem) {
  .form-label {
    width: 15%;
    display: inline-block;
    text-align: right;
    padding-right: 1rem;
  }
}

@media screen and (min-width:55.8rem) {
  .form-input {
    width: 84%;
  }
}

.scroll::before {
  font-family: FontAwesome;
  content: "\e80D";
}

.scroll {
  position: fixed;
  bottom: 1.2rem;
  right: .6rem;
  display: none;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #f7f9fc;
  background-color: #2262c9;
  text-decoration: none;
  padding: .75rem;
  z-index: 1000;
}

.scroll:hover {
  text-decoration: none;
}

#sidebar-toggle {
  display: none;
}

.sidebar {
  position: fixed;
  width: 14rem;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #2262c9;
  color: #f7f9fc;
  left: -14rem;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow-y: auto;
}

.sidebar-close::before {
  font-family: FontAwesome;
  content: "\e808";
}

.sidebar-close {
  cursor: pointer;
  font-weight: 800;
  color: #fff;
  float: right;
  padding: 1.1rem;
}

.sidebar-toggle::before {
  font-family: FontAwesome;
  content: "\f0c9";
  font-size: 1.4rem;
  color: #2262c9;
}

@media screen and (min-width:105.6rem) {
  .sidebar-toggle::after {
    content: "  Menu";
    white-space: pre;
  }
}

.sidebar-toggle {
  position: fixed;
  cursor: pointer;
  color: #f7f9fc;
  top: 1.1rem;
  left: 1.2rem;
}

@media screen and (max-width:55.8rem) {
  .sidebar-toggle {
    position: absolute;
    left: 1rem;
  }
}

.sidebar-checkbox {
  position: absolute;
  opacity: 0;
}

#sidebar-checkbox:checked~.sidebar {
  -webkit-transform: translateX(14rem);
  -moz-transform: translateX(14rem);
  -ms-transform: translateX(14rem);
  -o-transform: translateX(14rem);
  transform: translateX(14rem);
}

#sidebar-checkbox:checked~.sidebar-toggle {
  -webkit-transform: translateX(14rem);
  -moz-transform: translateX(14rem);
  -ms-transform: translateX(14rem);
  -o-transform: translateX(14rem);
  transform: translateX(14rem);
}

#sidebar-checkbox:checked~.sidebar-toggle::before {
  font-family: FontAwesome;
  content: "\e808";
}

@media screen and (min-width:105.6rem) {
  #sidebar-checkbox:checked~.sidebar-toggle::after {
    content: "  Close";
    white-space: pre;
  }
}

#sidebar-checkbox:checked~.content {
  -webkit-transform: translateX(14rem);
  -moz-transform: translateX(14rem);
  -ms-transform: translateX(14rem);
  -o-transform: translateX(14rem);
  transform: translateX(14rem);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu li a {
  font-size: 1rem;
  text-decoration: none;
  padding: .5rem .75rem;
  display: block;
  background-color: #2262c9;
  color: #f7f9fc;
  border-bottom: .05rem solid #85a4d6;
  border-right: .05rem solid #2262c9;
}

.sidebar-menu li a:hover {
  background-color: #102d5c;
  color: #f7f9fc;
}

.sidebar-menu .sidebar-active {
  background-color: #102d5c;
  color: #f7f9fc;
}

.sidebar-menu .sidebar-dropdown-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu .sidebar-dropdown-content li a {
  padding-left: 2.75rem;
  font-size: .8rem;
}

.sidebar-menu .home::before {
  font-family: FontAwesome;
  content: "\e803";
}

.sidebar-menu .blog::before {
  font-family: FontAwesome;
  content: "\e804";
}

.sidebar-menu .categories::before {
  font-family: FontAwesome;
  content: "\e801";
}

.sidebar-menu .tags::before {
  font-family: FontAwesome;
  content: "\e802";
}

.sidebar-menu .archives::before {
  font-family: FontAwesome;
  content: "\f1c6";
}

.sidebar-menu .search::before {
  font-family: FontAwesome;
  content: "\e809";
}

.sidebar-menu .project::before {
  font-family: FontAwesome;
  content: "\f1c9";
}

.sidebar-menu .contact::before {
  font-family: FontAwesome;
  content: "\e805";
}

.sidebar-item {
  padding: .5rem .75rem;
}

.category::before {
  font-family: FontAwesome;
  content: "\e801";
  padding: .05rem .2rem;
  color: #e4ebf6;
}

.category:hover::before {
  color: #3f7cde;
}

.category {
  background-color: #3f7cde;
  color: #e4ebf6;
  border: .05rem solid #3f7cde;
}

.category:hover {
  text-decoration: none;
  background-color: #e4ebf6;
  color: #3f7cde;
  border: .05rem solid #3f7cde;
}

.category .category-content {
  padding: .05rem .2rem;
  display: inline-block;
  font-size: .9rem;
}

.category .category-count {
  padding: .05rem .2rem;
  font-size: .9rem;
  border-left: .05rem solid #becfe9;
}

.link {
  text-decoration: none;
}

.disabled-link {
  cursor: not-allowed;
}

.pager-block {
  list-style-type: none;
  display: inline-block;
  padding-left: 0;
  font-size: 0;
  margin-top: 1rem;
}

.pager-block li {
  font-size: .95rem;
  box-sizing: border-box;
  display: inline-block;
  border: .05rem solid #133771;
  background-color: #f7f9fc;
  color: #133771;
}

.pager-block li:hover {
  display: inline-block;
  background-color: #133771;
  color: #f7f9fc;
}

.pager-block li a {
  padding: .25rem .45rem;
  color: #133771;
  text-decoration: none;
  display: inline-block;
}

.pager-block li a:hover {
  display: inline-block;
  color: #f7f9fc;
}

.first-page a::before {
  font-family: FontAwesome;
  content: "\f100";
}

.previous a::before {
  font-family: FontAwesome;
  content: "\f104";
}

.previous .disabled-link {
  cursor: not-allowed;
}

.next a::before {
  font-family: FontAwesome;
  content: "\f105";
}

.next .disabled-link {
  cursor: not-allowed;
}

.last-page a::before {
  font-family: FontAwesome;
  content: "\f101";
}

.footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.date::before {
  font-family: FontAwesome;
  content: "\e800";
  padding: .05rem .2rem;
}

.date {
  background-color: #3f7cde;
  color: #e4ebf6;
  border: .05rem solid #3f7cde;
}

.date .date-content {
  padding: .05rem .2rem;
  display: inline-block;
  font-size: .9rem;
}

.share-content {
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 2rem 0;
}

.share {
  font-size: 1rem;
  padding: .6rem 0;
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
}

.share:hover {
  text-decoration: none;
}

.share.facebook {
  color: #3b5897;
  background-color: #f7f9fc;
  border: .05rem solid #3b5897;
}

.share.facebook:hover {
  color: #f7f9fc;
  background-color: #3b5897;
}

.share.gplus {
  color: #d34936;
  background-color: #f7f9fc;
  border: .05rem solid #d34936;
}

.share.gplus:hover {
  color: #f7f9fc;
  background-color: #d34936;
}

.share.twitter {
  color: #1ca0f2;
  background-color: #f7f9fc;
  border: .05rem solid #1ca0f2;
}

.share.twitter:hover {
  color: #f7f9fc;
  background-color: #1ca0f2;
}

.share.linkedin {
  color: #0074b3;
  background-color: #f7f9fc;
  border: .05rem solid #0074b3;
}

.share.linkedin:hover {
  color: #f7f9fc;
  background-color: #0074b3;
}

.share.email {
  color: #000;
  background-color: #f7f9fc;
  border: .05rem solid #000;
}

.share.email:hover {
  color: #f7f9fc;
  background-color: #000;
}

.share.print {
  color: #000;
  background-color: #f7f9fc;
  border: .05rem solid #000;
}

.share.print:hover {
  color: #f7f9fc;
  background-color: #000;
}

.pager {
  display: flex;
  width: 100%;
}

@media screen and (max-width:41.6rem) {
  .pager {
    flex-direction: column;
  }
}

.pager a {
  text-decoration: none;
  padding: .5rem;
  background-color: #f7f9fc;
  color: #133771;
}

.pager a:hover {
  text-decoration: none;
  background-color: #133771;
  color: #f7f9fc;
}

.post-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  margin: .25rem 0;
}

@media screen and (max-width:41.6rem) {
  .post-page {
    width: 100%;
  }
}

.post-page p {
  margin: 0;
}

.previous-post {
  margin: auto;
  text-align: left;
}

.previous-post-title {
  text-align: left;
}

.next-post {
  margin: auto;
  text-align: right;
}

.next-post-title {
  text-align: right;
}

.time::before {
  font-family: FontAwesome;
  content: "\e80c";
  padding: .05rem .2rem;
}

.time {
  background-color: #3f7cde;
  color: #e4ebf6;
  border: .05rem solid #3f7cde;
}

.time .time-content {
  padding: .05rem .2rem;
  display: inline-block;
  font-size: .9rem;
}

.blog-item,
.card,
.project-item {
  border: .1rem solid #999;
  box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.2);
  transition: .3s;
  padding: .5rem;
}

.blog-item:hover,
.card:hover,
.project-item:hover {
  box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,.2);
}

.blog-item .card-title,
.card .card-title,
.project-item .card-title {
  font-size: 2rem;
  margin: .7rem 0;
}

.blog-item .card-content,
.card .card-content,
.project-item .card-content {
  font-size: 1rem;
}

.info {
  color: #066aa7;
}

.danger {
  color: #931a26;
}

.success {
  color: #155624;
}

.warning {
  color: #9e7700;
}

.button {
  background-color: #2262c9;
  color: #f7f9fc;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  padding: .5rem 1rem;
  border: none;
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,Calibri,Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",serif;
}

.button:hover {
  text-decoration: none;
  background-color: #1b4d9d;
}

.block,
.block-danger,
.block-info,
.block-success,
.block-warning {
  margin: 1rem 0;
  padding: .5rem 2rem;
  box-sizing: border-box;
  border-radius: .1rem;
}

.block-info {
  background-color: #e1f3fe;
  border: .05rem solid #066aa7;
  border-left: .25rem solid #066aa7;
  color: #066aa7;
}

.block-danger {
  background-color: #fae5e7;
  border: .05rem solid #931a26;
  border-left: .25rem solid #931a26;
  color: #931a26;
}

.block-warning {
  background-color: #fff4d1;
  border: .05rem solid #9e7700;
  border-left: .25rem solid #9e7700;
  color: #9e7700;
}

.block-success {
  background-color: #b1ecbf;
  border: .05rem solid #155624;
  border-left: .25rem solid #155624;
  color: #155624;
}

.panel {
  border: .05rem solid #2262c9;
  box-sizing: border-box;
}

.panel-header {
  box-sizing: border-box;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  border-bottom: .05rem solid #2262c9;
  margin: 0;
  font-weight: 700;
}

.panel-content {
  box-sizing: border-box;
  padding: .5rem 1rem;
  margin: 0;
}

.panel-footer {
  box-sizing: border-box;
  border-top: .05rem solid #2262c9;
  margin: 0;
  font-size: .8rem;
  padding: .5rem 1rem;
}

.table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table caption {
  text-align: left;
  padding-bottom: 1rem;
}

.table>tbody>tr:nth-child(even),
.table>tfoot>tr:nth-child(even),
.table>thead>tr:nth-child(even) {
  background-color: #e4ebf6;
}

.table>tbody>tr:nth-child(even):hover,
.table>tfoot>tr:nth-child(even):hover,
.table>thead>tr:nth-child(even):hover {
  background-color: #d1ddf0;
}

.table>tbody>tr:hover,
.table>tfoot>tr:hover,
.table>thead>tr:hover {
  background-color: #e4ebf6;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: .5rem;
  border-bottom: .05rem solid #2262c9;
}

.table>thead>tr {
  background-color: #2262c9;
  color: #f7f9fc;
}

.table>thead>tr:hover {
  background-color: #133771;
}

.table>thead>tr>th {
  border-bottom: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,Calibri,Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",serif;
  background-color: #f7f9fc;
  color: #000;
  overflow-x: hidden;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif",-apple-system,BlinkMacSystemFont,"Segoe UI SemiLight",Ubuntu,"Ubuntu Mono",Roboto,Oxygen,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  color: #2262c9;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  margin: 1.6rem 0;
}

h2 {
  font-size: 1.8rem;
  margin: 1.2rem 0;
}

h3 {
  font-size: 1.6rem;
  margin: .8rem 0;
}

h4 {
  font-size: 1.4rem;
  margin: .4rem 0;
}

h5 {
  font-size: 1.2rem;
  margin: 0 0;
}

h6 {
  font-size: 1rem;
  margin: -.4rem 0;
}

a {
  color: #2262c9;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body {
  margin: 0;
}

.search-input {
  width: 100%;
}

.content {
  margin-bottom: 4rem;
}

.page {
  width: 100%;
  margin: 0 .5rem;
}

.page-content {
  margin-bottom: 4rem;
}

.page-content h1 {
  font-size: 1.6rem;
  margin: 1.4rem 0;
}

.page-content h2 {
  font-size: 1.5rem;
  margin: 1.3rem 0;
}

.page-content h3 {
  font-size: 1.4rem;
  margin: 1.2rem 0;
}

.page-content h4 {
  font-size: 1.3rem;
  margin: 1.1rem 0;
}

.page-content h5 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.page-content h6 {
  font-size: 1.1rem;
  margin: .9rem 0;
}

.page-title {
  font-size: 1.6rem;
}

@media screen and (max-width:55.8rem) {
  .toc-box {
    margin: 2rem 0;
  }
}

@media screen and (min-width:55.8rem) {
  .toc-box {
    margin-top: 2rem;
    float: right;
    width: 28%;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    overflow: hidden;
  }
}

@media screen and (max-width:55.8rem) {
  .actual-content {
    margin: 0 auto;
  }
}

@media screen and (min-width:55.8rem) {
  .actual-content {
    width: 71%;
  }
}

.actual-content h1 {
  font-size: 1.6rem;
  margin: 1.4rem 0;
}

.actual-content h2 {
  font-size: 1.5rem;
  margin: 1.3rem 0;
}

.actual-content h3 {
  font-size: 1.4rem;
  margin: 1.2rem 0;
}

.actual-content h4 {
  font-size: 1.3rem;
  margin: 1.1rem 0;
}

.actual-content h5 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.actual-content h6 {
  font-size: 1.1rem;
  margin: .9rem 0;
}

.toc-menu {
  border: .1rem solid #bbc8c8;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,.125);
}

.toc-header {
  color: #f7f9fc;
  background-color: #2262c9;
  margin: 0;
  padding: .5rem 0;
}

.toc-content {
  overflow-y: auto;
}

@media screen and (max-width:55.8rem) {
  .toc-content {
    max-height: 18rem;
  }
}

@media screen and (min-width:55.8rem) {
  .toc-content {
    max-height: 26rem;
  }
}

.toc header {
  border-bottom: .05rem solid #bbc8c8;
  text-align: center;
}

.toc__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toc__menu ul {
  list-style-type: none;
  padding: 0;
}

.toc__menu li a {
  font-size: 1.05rem;
  text-decoration: none;
  padding: .25rem 0 .25rem .6rem;
  border-bottom: .05rem solid #bbc8c8;
}

.toc__menu li li a {
  font-size: .95rem;
  text-decoration: none;
  padding: .25rem 0 .25rem 1.75rem;
}

.toc__menu li li li a {
  font-size: .85rem;
  text-decoration: none;
  padding: .25rem 0 .25rem 2.5rem;
}

.toc__menu a {
  display: block;
}

.post {
  margin: 0 .5rem;
}

.post-date {
  vertical-align: top;
  text-align: right;
  display: inline-block;
}

.post-title {
  text-align: left;
  margin-left: .25rem;
  display: inline-block;
  font-size: 1.6rem;
}

.related-post-date {
  vertical-align: top;
  text-align: left;
  display: inline-block;
}

.related-post-title {
  margin-left: .25rem;
  display: inline-block;
}

.relatedPosts {
  margin: 2rem 0;
}

.hidden {
  visibility: hidden;
}

.projects {
  margin: 0 .5rem;
}

.icon {
  padding: .1rem .3rem;
  display: inline-block;
  font-style: normal;
  border: .05rem solid #f7f9fc;
  box-sizing: border-box;
}

.icon.linkedin {
  color: #0074b3;
}

.icon.twitter {
  color: #1ca0f2;
}

.icon.github {
  color: #4077bf;
}

.icon.rss {
  color: #f26321;
}

.icon:hover {
  border: .05rem solid #2262c9;
}

.home-image {
  float: left;
  margin: 0;
  margin-right: 1.1rem;
}

@media screen and (max-width:55.8rem) {
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.project-item {
  padding: .5rem;
  position: relative;
}

@media screen and (min-width:70.1rem) {
  .project-item {
    margin: .5rem .5rem .5rem 0;
    width: 49%;
    float: left;
    box-sizing: border-box;
    min-height: 15rem;
  }

  .project-item:after,
  .project-item:before {
    content: '';
    display: table;
  }

  .project-item:after {
    clear: both;
  }
}

@media screen and (max-width:70.1rem) {
  .project-item {
    min-height: 10rem;
    margin-bottom: .5rem;
  }
}

.project-item h1 {
  font-size: 1.6rem;
  margin: 1.4rem 0;
}

.project-item h2 {
  font-size: 1.5rem;
  margin: 1.3rem 0;
}

.project-item h3 {
  font-size: 1.4rem;
  margin: 1.2rem 0;
}

.project-item h4 {
  font-size: 1.3rem;
  margin: 1.1rem 0;
}

.project-item h5 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.project-item h6 {
  font-size: 1.1rem;
  margin: .9rem 0;
}

.project-item a {
  text-decoration: none;
}

.project-header {
  margin-bottom: .4rem;
  color: #2262c9;
}

.project-header a {
  color: #2262c9;
}

@media screen and (max-width:70.1rem) {
  .project-header {
    width: 80%;
  }
}

@media screen and (min-width:70.1rem) {
  .project-header {
    width: 75%;
  }
}

.project-title {
  font-size: 1.2rem;
  margin: .4rem 0;
}

.project-status {
  background-color: #f7f9fc;
  margin: -1.4rem 0 0 0;
}

.blog-item {
  margin-bottom: .5rem;
  padding: .5rem;
}

.blog-item h1 {
  font-size: 1.6rem;
  margin: 1.4rem 0;
}

.blog-item h2 {
  font-size: 1.5rem;
  margin: 1.3rem 0;
}

.blog-item h3 {
  font-size: 1.4rem;
  margin: 1.2rem 0;
}

.blog-item h4 {
  font-size: 1.3rem;
  margin: 1.1rem 0;
}

.blog-item h5 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.blog-item h6 {
  font-size: 1.1rem;
  margin: .9rem 0;
}

.blog-header {
  margin-bottom: .5rem;
}

.blog-title {
  color: #2262c9;
  margin: .5rem 0;
}

.blog-title a {
  text-decoration: none;
}

.blog-info {
  color: #4d4d4d;
}

.tag-list {
  list-style-type: none;
  padding: 0;
}

.tag-date {
  width: 15%;
  vertical-align: top;
  text-align: right;
  display: inline-block;
}

@media screen and (max-width:74.8rem) {
  .tag-date {
    width: 35%;
  }
}

.tag-title {
  width: 80%;
  text-align: left;
  margin-left: .25rem;
  display: inline-block;
}

@media screen and (max-width:74.8rem) {
  .tag-title {
    width: 60%;
  }
}

.category-list {
  list-style-type: none;
  padding: 0;
}

.category-date {
  width: 15%;
  vertical-align: top;
  text-align: right;
  display: inline-block;
}

@media screen and (max-width:74.8rem) {
  .category-date {
    width: 35%;
  }
}

.category-title {
  width: 80%;
  text-align: left;
  margin-left: .25rem;
  display: inline-block;
}

@media screen and (max-width:74.8rem) {
  .category-title {
    width: 60%;
  }
}

.archive-list {
  list-style-type: none;
  padding: 0;
}

.archive-date {
  width: 15%;
  vertical-align: top;
  text-align: right;
  display: inline-block;
}

@media screen and (max-width:74.8rem) {
  .archive-date {
    width: 35%;
  }
}

.archive-title {
  width: 80%;
  text-align: left;
  margin-left: .25rem;
  display: inline-block;
}

@media screen and (max-width:74.8rem) {
  .archive-title {
    width: 60%;
  }
}