/* Reference URL: https://material.io/design/color/the-color-system.html#color-theme-creation */
/* Color palette */
/* Primary Color */
$primary-background-color          : hsl(202, 98%, 37%);
$primary-background-color-light    : lighten($primary-background-color, 10%);
$primary-background-color-dark     : darken($primary-background-color, 10%);
/* "On" colors */
$primary-foreground-color          : hsl(0, 0%, 98%);
$primary-foreground-color-light    : lighten($primary-foreground-color, 10%);
$primary-foreground-color-dark     : darken($primary-foreground-color, 10%);
/* Secondary Color */
$secondary-foreground-color        : hsl(206, 99%, 31%);
$secondary-foreground-color-light  : lighten($secondary-foreground-color, 10%);
$secondary-foreground-color-dark   : darken($secondary-foreground-color, 10%);;
$secondary-background-color        : hsl(0, 0%, 98%);
$secondary-background-color-light  : lighten($secondary-background-color, 10%);;
$secondary-background-color-dark   : darken($secondary-background-color, 10%);;
/* Surface Color */
$surface-color                     : hsl(0, 0%, 98%);
/* Background Color */
$background-color                  : hsl(0, 0%, 98%);
/* Dark text color */
$dark-text-color                   : hsl(0, 0%, 98%);
/* Light text color */
$primary-text-color                : black;
/* Links Colors */
$link-text-color                   : hsl(225, 84%, 68%);//hsl(207, 97%, 65%);

/* Navbar configuration */
$navbar-visible-screen     : $minitablet;
$navbar-radius             : 1rem;
$navbar-foreground-color   : $primary-foreground-color-light;
$navbar-background-color   : $primary-background-color-light;
$navbar-content-flow       : "forward";
$navbar-header-size        : 1.8rem;
$navbar-header-vert-margin : 0.5rem;

/* Sidebar configuration */
$sidebar-font-size         : 1.05rem;
$sidebar-hamburger-size    : 1.2rem;
$sidebar-width             : 18rem;
$sidebar-visible-screen    : $tablet;
$sidebar-foreground-color  : $primary-foreground-color;
$sidebar-background-color  : $primary-background-color;
$sidebar-item-padding      : 0.9rem 1.5rem;
$sidebar-toggle-vert-pos   : $navbar-header-vert-margin + 0.3rem;

/* Pager configuration */
$pager-foreground-color   : $primary-foreground-color-light;
$pager-background-color   : $primary-background-color-light;
