@import "base-01";

/* Reference URL: https://material.io/design/color/the-color-system.html#color-theme-creation */
/* Color palette */
html[data-theme="base-01"]
{
    /** Primary Colors (Background / Foreground) **/
    /* Primary background color and variants */
    --primary-background-color          : #{$primary-background-color};
    --primary-background-color-light    : #{$primary-background-color-light};
    --primary-background-color-dark     : #{$primary-background-color-dark};
    /* "On" text colors for primary background color */
    --primary-foreground-color          : #{$primary-foreground-color};
    --primary-foreground-color-light    : #{$primary-foreground-color-light};
    --primary-foreground-color-dark     : #{$primary-foreground-color-dark};

    /** Secondary Colors (Background / Foreground) **/
    /* "On" text colors for secondary background color */
    --secondary-foreground-color        : #{$secondary-foreground-color};
    --secondary-foreground-color-light  : #{$secondary-foreground-color-light};
    --secondary-foreground-color-dark   : #{$secondary-foreground-color-dark};
    /* Secondary background color and variants */
    --secondary-background-color        : #{$secondary-background-color};
    --secondary-background-color-light  : #{$secondary-background-color-light};
    --secondary-background-color-dark   : #{$secondary-background-color-dark};

    /** Other Colors **/
    /* Surface Color */
    --surface-color                     : #{$surface-color};
    /* Background Color */
    --background-color                  : #{$background-color};
    /* Light text color */
    --text-color                        : #{$text-color};
    /* Links Colors */
    --link-text-color                   : #{$link-text-color};
    /* Heading Colors */
    --heading-text-color                : #{$link-text-color};

    /* Navbar configuration */
    --navbar-menu-corner-radius        : #{$navbar-menu-corner-radius};
    --navbar-header-size               : #{$navbar-header-size};
    --navbar-header-vert-margin        : #{$navbar-header-vert-margin};
    --navbar-text-color                : #{$navbar-text-color};
    --navbar-background-color          : #{$navbar-background-color};
    --navbar-menu-item-highlight-color : #{$navbar-menu-item-highlight-color};

    /* Sidebar configuration */
    --sidebar-hamburger-size            : #{$sidebar-hamburger-size};
    --sidebar-text-color                : #{$sidebar-text-color};
    --sidebar-background-color          : #{$sidebar-background-color};
    --sidebar-menu-item-highlight-color : #{$sidebar-menu-item-highlight-color};
    --sidebar-item-padding              : #{$sidebar-item-padding};
    --sidebar-toggle-vert-pos           : #{$sidebar-toggle-vert-pos};

    /* Pager configuration */
    --pager-foreground-color   : #{$pager-foreground-color};
    --pager-background-color   : #{$pager-background-color};

    /* Footer configuration */
    --footer-foreground-color  : #{$footer-foreground-color};
    --footer-background-color  : #{$footer-background-color};

    /* Scrollbar configuration */
    --scrollbar-foreground-color : #{$scrollbar-foreground-color};
    --scrollbar-background-color : #{$scrollbar-background-color};

    /* Switch configuration */
    --switch-background-color  : #{$switch-background-color};

    /* Scroll to top configuration */
    --scroll-foreground-color  : #{$scroll-foreground-color};
    --scroll-background-color  : #{$scroll-background-color};

}
