.blog-card
{
    position: relative;
    display: flex;
    margin-bottom: 1rem;
    @include until($tablet)
    {
        flex-direction: column;
    }
    @include from($tablet)
    {
        flex-direction: row;
    }
    background-color: var(--surface-color);
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    @if $flat == true
    {
        border-radius: 0px;
    }
    @else
    {
        border-radius: var(--border-radius);
    }
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    &:hover
    {
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14), 0 3px 8px 0 rgba(0,0,0,0.12), 0 5px 3px -4px rgba(0,0,0,0.2);
    }
    width: 100%;
    //height: 100%;
    @include clearfix;

    .blog-card-image
    {
        @if $flat == true
        {
            border-radius: 0px;
        }
        @else
        {
            @include until($tablet)
            {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
            }
            @include from($tablet)
            {
                border-radius: var(--border-radius) 0 0 var(--border-radius);
            }
        }
    }

    .blog-card-image
    {
        @include until($tablet)
        {
            width: 100%;
          border-bottom: 0.05rem solid rgba(160,160,160,0.2);
        }
        @include from($tablet)
        {
            width: 25%;
          border-bottom: 0.05rem solid rgba(160,160,160,0.2);
        }
    }

    .blog-card-info
    {
        @include until($tablet)
        {
            width: 100%;
        }
        @include from($tablet)
        {
            width: 75%;
        }
        flex-direction: column;
    }

    .blog-card-info-no-image
    {
        @include from($tablet)
        {
            width: 100%;
        }
        flex-direction: column;
    }

    .blog-card-content
    {
        padding: 1rem;
        width: 100%;
    }

    .blog-card-details
    {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .blog-card-title
    {
        margin: 0.5rem 0;
        a
        {
            border-bottom: none;
        }
    }

    .blog-card-reveal-icon
    {
        float: right;
        cursor: pointer;
        margin: 0.5rem 0.5rem 0.5rem 0;
        padding: 10%;
    }

    .blog-card-footer
    {
        @include from($desktop)
        {
            //position: absolute;
            position: relative;
            //width: inherit;
        }
        @include until($desktop)
        {
            position: relative;
            width: 100%;
        }
        padding: 0.8rem;
        border-top: 0.1rem solid rgba(160,160,160,0.2);
        bottom: 0;
        a
        {
            border-bottom: none;
        }
    }

    .blog-card-footer-no-image
    {
        position: relative;
        width: inherit;
        padding: 0.8rem;
        border-top: 0.1rem solid rgba(160,160,160,0.2);
        bottom: 0;
    }

    .blog-card-reveal
    {
        padding: 2%;
        position: absolute;
        background-color: white;
        width: 100%;
        overflow-y: auto;
        left: 0;
        top: 100%;
        height: 100%;
        z-index: $card-reveal-zindex;
        display: none;
        border-radius: var(--border-radius);
    }
}
