/* Navbar variables */
// Margin on top and bottom of navbar-menu
$navbar-margin            : 0.8rem;
// From which screens navbar should be visible
$navbar-visible-screen    : $tablet;
// Header size in navbar
$navbar-header-size       : 1.6rem;
// Navbar header vertical padding
$navbar-head-vertical-pad : 0.2rem;
// Navbar header horizontal padding
$navbar-head-horiz-pad    : 1rem;
// Navbar menu item vertical padding
$navbar-item-vertical-pad : 0.3rem;
// Navbar menu item horizontal padding
$navbar-item-horiz-pad    : 0.5rem;