// If the theme is to be all flat without any rounded
$flat                    : true;

/* Roundedness variables */
// Roundedness for button component
$button-radius           : 0.3rem;
// Roundedness for card component
$card-radius             : 0.3rem;
// Roundedness for chip component
$chip-radius             : 0.1rem;
// Roundedness for content header
$navbar-radius           : 0.25rem;