/* Sidebar variables */
// Position from where the sidebar is to be revealed
$sidebar-pos               : right;
// Should the sidebar be overlaid over the content or push the content 
// to reveal itself
$sidebar-overlay           : false;
// Width of the sidebar
$sidebar-width             : 14rem;
// Navbar menu item vertical padding
$sidebar-item-vertical-pad : 0.5rem;
// Navbar menu item horizontal padding
$sidebar-item-horiz-pad    : 0.75rem;
// From which screens navbar should be visible
$sidebar-visible-screen    : $tablet;
// Font size of sidebar items
$sidebar-font-size         : 1rem;

/* Hamburger variables */
// Top and left position of hamburger which triggers opening of sidebar
$hamburger-position-top   : 1.1rem;
$hamburger-position-horiz : 1.2rem;
$hamburger-size           : $navbar-header-size - 0.2;

