.card
{
    border: 0.1rem solid lighten($normal-font-color, 60%);
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    @if $flat == false
    {
        border-radius: 0.3rem; /* 5px rounded corners */
    }
}

.card:hover
{
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}