.chip
{
    display: inline-block;
    /*padding: 0.05rem 0.2rem;*/
    @if flat == false
    {
        border-radius: $chip-radius;
    }
    font-size: 0.9rem;
    font-family: $normal-font;
    margin: 0.2rem;
    text-decoration: none;
    background-color: $chip-background;
    color: $chip-foreground;
    &:hover
    {
        text-decoration: none;
    }
    .chip-content &
    {
        padding: 0.05rem 0.2rem;
        display: inline-block;
        font-size: 0.9rem;
    }
    .chip-count &
    {
        padding: 0.05rem 0.2rem;
        background-color: darken($chip-background, 10%);
        color: lighten($chip-foreground, 10%);
    }
}
