@include placeholder
{
    font-family: $normal-font;
}

input[type=text], input[type=email], input[type=url],
select, textarea
{
    @include until($tablet)
    {
        width: 100%;
    }
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 0.1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 0.05rem solid $foreground-color;
    font-family: $normal-font;
}

input[type=submit]
{
    background-color: $foreground-color;
    color: $background-color;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    font-family: $normal-font;
}

input[type=submit]:hover
{
    background-color: darken($foreground-color, 10%);
}

.form-item
{
    width: 100%;
}

.form-label
{
    @include from ($tablet)
    {
        width: 15%;
        display: inline-block;
        text-align: right;
        padding-right: 1rem;
    }
}

.form-input
{
    @include from ($tablet)
    {
        width: 84%;
    }
}

