$navbar-margin: 1rem;
$navbar-visible-screen: $tablet;

.navbar
{
    display: flex;
    flex-direction: row;
}

.navbar-content
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbar-header
{
    display: flex;
    margin: $navbar-margin 0;
    padding: 0.2rem 1rem;
    color: $navbar-font-color;
    /*display: inline-block;*/
    a
    {
        font-size: 1.2rem;
        color: $navbar-font-color;
        text-decoration: none;
        &:hover
        {
            text-decoration: none;
        }
    }
    @include until($navbar-visible-screen)
    {
        width: 100%;
        justify-content: center;
        background-color: $background-color;
        color: $foreground-color;
        a
        {
            color: $foreground-color;
        }
    }
}

.navbar-menu
{
    list-style-type: none;
    margin: $navbar-margin 0;
    margin-right: 1rem;
    display: flex;
    /*align-items: center;*/
    flex: 1;
    justify-content: flex-end;
    padding: 0;
    /*display: inline-block;*/
    color: $navbar-font-color;
    li
    {
        /*display: inline-block;*/
        position: relative;
        min-width: 4rem;
        margin: 0 0.25rem;
        color: $navbar-font-color;
    }
    li a
    {
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        display: block;
        color: $navbar-font-color;
        &:hover
        {
            border-bottom: 0.1rem solid $navbar-font-color;
        }
        &::before
        {
            @include transition(width 0.3s);
        }
        &::after
        {
            @include transition(width 0.3s);
        }
    }
    @include until($navbar-visible-screen)
    {
      display: none;
    }
}

.navbar-menu .home::before
{
    @include from($navbar-visible-screen)
    {
        @include home-icon;
    }
}
.navbar-menu .blog::before
{
    @include from($navbar-visible-screen)
    {
        @include pencil-icon;
    }
}
.navbar-menu .project::before
{
    @include from($navbar-visible-screen)
    {
        @include code-icon;
    }
}
.navbar-menu .contact::before
{
    @include from($navbar-visible-screen)
    {
        @include phone-icon;
    }
}

.blog.dropdown
{
    margin-right: 0;
}
