/* http://blog.teamtreehouse.com/create-simple-css-dropdown-menu */

.navbar
{
    display: flex;
    flex-direction: row;
    background-color: $navbar-background;
    color: $navbar-foreground;
    @if $flat == false
    {
        border-bottom-right-radius: $navbar-radius;
        border-bottom-left-radius: $navbar-radius;
    }
    @include until($navbar-visible-screen)
    {
        background-color: $navbar-foreground;
        color: $navbar-background;
    }
}

.navbar-content
{
    display: flex;
    @if $navbar-content-flow == reverse
    {
        flex-direction: row-reverse;
    }
    @else
    {
        flex-direction: row;
    }
    width: 100%;
}

.navbar-header
{
    display: flex;
    margin: $navbar-margin $navbar-horiz-margin;
    /*padding: $navbar-head-vertical-pad $navbar-head-horiz-pad;*/
    color: $navbar-font-color;
    /*display: inline-block;*/
    a
    {
        font-size: $navbar-header-size;
        color: $navbar-font-color;
        text-decoration: none;
        &:hover
        {
            text-decoration: none;
        }
    }
    @include until($navbar-visible-screen)
    {
        width: 100%;
        justify-content: center;
        background-color: $navbar-foreground;
        color: $navbar-background;
        a
        {
            color: $navbar-background;
        }
    }
}

.navbar-menu
{
    list-style-type: none;
    margin: $navbar-margin $navbar-horiz-margin;
    /*margin-right: 1rem;*/
    display: flex;
    /*align-items: center;*/
    flex: 1;
    @if $navbar-content-flow == reverse
    {
        justify-content: flex-start;
    }
    @else
    {
        justify-content: flex-end;
    }
    padding: 0;
    /*display: inline-block;*/
    color: $navbar-font-color;
    li
    {
        /*display: inline-block;*/
        box-sizing: border-box;
        position: relative;
        min-width: 4rem;
        /*margin: auto 0.25rem;*/
        margin: auto 0;
        border: 0.1rem solid darken($navbar-foreground, 30%);
        &:not(:last-child)
        {
            border-right: none;
        }
        @if $flat == false
        {
            &:first-child
            {
                border-top-left-radius: 0.05rem;
                border-bottom-left-radius: 0.05rem;
            }
            &:last-child
            {
                border-top-right-radius: 0.05rem;
                border-bottom-right-radius: 0.05rem;
            }
        }
        color: $navbar-font-color;
        &:hover
        {
            background-color: darken($navbar-background, 25%);
            /*border-bottom: 0.15rem solid $navbar-font-color;*/
        }
        a
        {
            text-decoration: none;
            padding: $navbar-item-vertical-pad $navbar-item-horiz-pad;
            display: block;
            color: $navbar-font-color;
            /*border-bottom: 0.15rem solid $navbar-background;*/
        }
    }
    .navbar-menu-active
    {
        background-color: darken($navbar-background, 25%);
        /*border-bottom: 0.15rem solid $navbar-font-color;*/
    }
    @include until($navbar-visible-screen)
    {
      display: none;
    }
}

.navbar-menu
{
    .home::before
    {
        @include from($navbar-visible-screen)
        {
            @include home-icon;
        }
    }
    .blog::before
    {
        @include from($navbar-visible-screen)
        {
            @include pencil-icon;
        }
    }
    .project::before
    {
        @include from($navbar-visible-screen)
        {
            @include code-icon;
        }
    }
    .contact::before
    {
        @include from($navbar-visible-screen)
        {
            @include phone-icon;
        }
    }
    .categories::before
    {
        @include folder-open-icon;
    }
    .tags::before
    {
        @include tag-icon;
    }
    .archives::before
    {
        @include zip-icon;
    }
    .search::before
    {
        @include search-icon;
    }
}

.navbar-dropdown
{
    margin-right: 0;
    > a
    {
        &::after
        {
            /*@include down-icon;*/
            font-family: FontAwesome;
            content: " \e806";
            white-space: pre;
        }
    }
    .navbar-dropdown-content
    {
        position: absolute;
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        left: -0.3rem; 
        z-index: 100;
        li
        {
            box-sizing: border-box;
            position: relative;
            min-width: 4rem;
            margin: auto 0.25rem;
            color: $navbar-font-color;
            background-color: $navbar-background;
            border: 0.1rem solid darken($navbar-foreground, 30%);
            &:not(:last-child)
            {
                border-bottom: none;
            }
        }
        li a
        {
            text-decoration: none;
            padding: $navbar-item-vertical-pad $navbar-item-horiz-pad;
            display: block;
            color: $navbar-font-color;
            border-bottom: 0.15rem solid $navbar-background;
            &:hover
            {
                background-color: darken($navbar-background, 25%);
                border-bottom: 0.15rem solid $navbar-font-color;
            }
        }
    }
    &:hover > .navbar-dropdown-content
    {
        display: block;
    }
}
