.pager
{
    display: flex;
    width: 100%;
    a
    {
        text-decoration: none;
        padding: 0.5rem;
        background-color: $background-color;
        color: $foreground-dark-color;
        &:hover
        {
            text-decoration: none;
            background-color: $foreground-dark-color;
            color: $background-color;
        }
    }
}
.post-page
{
    display: flex;
    justify-content: center;
    width: 50%;
    /*border: 1px solid $foreground-dark-color;*/
    box-sizing: border-box;
    margin: 0.25rem 0;
}
.previous-post
{
    justify-content: left;
    &::before
    {
        content: "< ";
        white-space: pre;
    }
    /*&::before
    {
        @include left-icon;
    }
    &::after
    {
        content: " ";
    }*/
}
.next-post
{
    justify-content: right;
    &::after
    {
        content: " >";
        white-space: pre;
    }
    /*&::before
    {
        content: " ";
    }
    &::after
    {
        @include right-icon;
    }*/
}
