/* Ribbon implementation taken from https://wncc-iitb.org/ */
.ribbon
{
    position: absolute;
    right: -0.32rem;
    top: -0.38rem;
    z-index: 1;
    overflow: hidden;
    width: 7rem;
    height: 7rem;
    text-align: right;
}
.ribbon span
{
    font-size: 0.8rem;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 1.2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 9rem;
    display: block;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 2.2rem;
    right: -1.77rem;
}
.ribbon span::before
{
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-right: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;
}
.ribbon span::after
{
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;
}

.status-ongoing span
{
    background: $info;
    background: linear-gradient(lighten($info, 10%) 0%, $info 100%);
}
.status-ongoing span::after
{
    border-right: 0.2rem solid $info;
    border-top: 0.2rem solid $info;
}
.status-ongoing span::before
{
    border-left: 0.2rem solid $info;
    border-top: 0.2rem solid $info;
}

.status-complete span
{
    background: $success;
    background: linear-gradient(lighten($success, 10%) 0%, $success 100%);
}
.status-complete span::before
{
    border-left: 0.2rem solid $success;
    border-top: 0.2rem solid $success;
}
.status-complete span::after
{
    border-right: 0.2rem solid $success;
    border-top: 0.2rem solid $success;
}
