.tag::before
{
    @include tag-icon;
    padding-right: .5rem;
    color: $tag-foreground;
}

.tag:hover::before
{
    color: $tag-background;
}

.tag
{
    /*@extend .chip;*/
    background: $tag-background;
    color: $tag-foreground;
    border: 0.05rem solid $tag-background;
    &:hover
    {
        text-decoration: none;
        background: $tag-foreground;
        color: $tag-background;
        border: 0.05rem solid $tag-background;
    }
}
.tag-count
{
    @extend .chip;
    padding: 0.05rem 0.2rem;
    background-color: darken($chip-background, 10%);
    color: lighten($chip-foreground, 10%);
}