.time::before
{
    /*@include clock-icon;*/
    padding: 0.05rem 0.2rem;
}

/*.time
{
    @extend .chip;
    background: $time-background;
    color: $time-foreground;
    .time-content
    {
        padding: 0.05rem 0.2rem;
        display: inline-block;
        font-size: 0.9rem;
    }
}*/

@include chip-component(time, $time-background, $time-foreground);