$flex : true;

$card-reveal-zindex: 2;

$ribbon-zindex: 3;

$navbar-zindex         : 4;
$navbar-visible-screen : $minitablet;
$navbar-content-flow   : "forward";

$footer-zindex: 4;

$sidebar-pos            : left;
$sidebar-toggle-zindex  : 5;
$sidebar-zindex         : 6;
$sidebar-visible-screen : $tablet;
$sidebar-width          : 18rem;
