---
layout: default
---

<div class="main-content">
<h1 class="page-title">
  {% if page.icon %}<i class="fa fa-{{page-icon}}"></i>{% endif %}
  {% if page.autopages %}
  {{page.autopages.display_name | capitalize}}
  {% else %}
  {{page.title}}
  {% endif %}
  {% if paginator.total_pages > 1 %}
  | Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}
  {% endif %}
</h1>

{% assign posts = paginator.posts | where:"publish","true" %}
<ul style="list-style-type: none; padding-left: 1rem;">
  {% for post in posts %}
  <li style="margin-bottom: 0.5rem;">
    <div class="card">
      <div class="card-content">
        <a href="{{ site.baseurl }}{{ site.url }}/{{post.url}}" style="text-decoration: none;">
          {{post.title}}
        </a>
        <span style="float: right;">{{post.date | date_to_string}}</span>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% include pagination.html %}
</div>
