---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body>
    <a onclick="scrollToTop()" id="scroll" class="scroll" title="Go to top"></a>
    <!-- https://codepen.io/Mitroo/pen/EKBbQw -->
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox"></input>
    {% include sidebar.html %}
    <div class="content">
      <label for="sidebar-checkbox" class="sidebar-toggle"></label>
      {% include navbar.html %}
      <main class="center">
      {{content}}
      </main>
      {% include foot.html %}
    </div>
    {% include scripts.html %}
</body>
</html>
