---
layout:
---

<!DOCTYPE html>
<html lang={{site.lang}}>
{% include head.html %}
<body>
{% if progress_bar.show == true %}
<div id="progress-bar">
  <div id="current-progress"></div>
</div>
{% endif %}
<a onclick="scrollToTop()" id="scroll" class="scroll" title="Go to top"></a>
{% include sidebar.html %}
<div class="content" id="main-content">
    {% include navbar.html %}
    <main class="container">
        {{content}}
    </main>
    {% include foot.html %}
</div>
{% include scripts-bottom.html %}
</body>
</html>
