.block
{
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    border-radius: $chip-radius;
}

.info
{
    &.block
    {
        background-color: lighten($info, 40%);
        border: 0.05rem solid darken($info, 20%);
        border-left: 0.25rem solid darken($info, 20%);
    }
    &.panel
    {
        background-color: lighten($info, 40%);
        border: 0.05rem solid darken($info, 20%);
    }
}
.danger
{
    &.block
    {
        background-color: lighten($danger, 40%);
        border: 0.05rem solid darken($danger, 20%);
        border-left: 0.25rem solid darken($danger, 20%);
    }
}
.success
{
    &.block
    {
        background-color: lighten($success, 40%);
        border: 0.05rem solid darken($success, 20%);
        border-left: 0.25rem solid darken($success, 20%);
    }
}
.warning
{
    &.block
    {
        background-color: lighten($warning, 40%);
        border: 0.05rem solid darken($warning, 20%);
        border-left: 0.25rem solid darken($warning, 20%);
    }
}
