figure.highlight
{
    margin: 1rem 0;
}
pre.highlight
{
    padding: 0.5rem 1rem;
}
pre, code
{
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    white-space: pre;
    overflow-x: auto;
}
.code
{
    pre span
    {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        white-space: pre;
    }
}
.highlight
{
    code span
    {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        white-space: pre;
    }
}
.highlight .lineno
{
    padding: 0 1rem;
}
.highlight .code
{
    padding: 0 1rem;
}
.highlighter-rouge
{
    color: black
}

/* Block code, highlight */
figure.highlight, div.highlight {
    position: relative;
    pre {
        /* Reference: https://github.com/m-cat/bytedude.com/blob/master/_sass/minutia/_syntax-highlighting.scss */
        /*&:before
        {
            content: "Copy";
            position: absolute;
            right: 34px; // 15 + 19
            font-size: 11px;
            top: -10px;
            padding: 0.1rem;

            border: 1px solid gray;
            border-radius: 0.1rem;

            min-width: 40px;
            text-align: center;

            color: white;
            background-color: black;
        }*/
        code {
            counter-reset: code;
            display: block;
            line-height: 1.5;
            /* Display language name */
            &[data-lang]:before {
                content: attr(data-lang);
                position: absolute;
                right: 80px; // 15 + 19
                font-size: 11px;
                top: -10px;
                padding: 0.1rem;

                border: 1px solid gray;
                border-radius: 0.1rem;

                min-width: 40px;
                text-align: center;

                color: white;
                background-color: black;

            }

        }
    }
}
.language-*
{
    margin: 1rem 0;
}
