{% unless page.comments == false %}
<!-- Starting comment form -->
<h3>Leave a comment</h3>
<form id="comment-form" method="post" action="https://api.staticman.net/v2/entry/{{site.author.usernames.github}}/{{site.repository}}/{{site.staticman.branch}}/comments">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <!-- <input type="hidden" name="redirect_to" value="{{page.url}}thankyou/" /> -->
    <div class="form-item">
        <label class="form-label" for="message">Message *</label>
        <textarea class="form-input" type="text" required name="fields[message]" rows="5" placeholder="Message"></textarea>
    </div>
    <div class="form-item">
        <label class="form-label" for="name">Name *</label>
        <input class="form-input" type="text" required name="fields[name]" placeholder="Name" />
    </div>
    <div class="form-item">
        <label class="form-label" for="email">Email *</label>
        <input class="form-input" type="email" required name="fields[email]" placeholder="Email" />
    </div>
    <div class="form-item">
        <label class="form-label" for="url">Website (Optional)</label>
        <input class="form-input" type="url" name="fields[website]" placeholder="Website" />
    </div>
    <input name="options[slug]" type="hidden" value="{{page.slug}}">
    <center><input type="submit" value="Add Comment" /></center>
</form>
<!-- End new comment form -->
<script async src="https://www.google.com/recaptcha/api.js"></script>
{% else %}
  <p><em>Comments are closed. If you have a question concerning the content of this page, please feel free to <a href="{{site.baseurl}}/contact/">contact me</a>.</em></p>
{% endunless %}