/* Basic colors for the skin */
$foreground-color      : hsl(217, 71%, 46%);//rgb(34,98,201);
$foreground-dark-color : darken($foreground-color, 20%);
$background-color      : hsl(217, 50%, 98%);//rgb(255, 255, 255);
$background-dark-color : darken($background-color, 20%);
$header-font-color     : hsl(217, 71%, 46%);//rgb(34,98,201);
$normal-font-color     : hsl(0, 0%, 0%);//rgb(0, 0, 0);

/* Navbar colors */
$navbar-foreground     : $background-color;
$navbar-background     : $foreground-color;
$navbar-font-color     : $navbar-foreground;

/* Sidebar colors */
$sidebar-foreground     : $background-color;
$sidebar-background     : $foreground-color;
$sidebar-font-color     : $sidebar-foreground;

/* Component colors */
$chip-background       : lighten($foreground-color, 10%);
$chip-foreground       : darken($background-color, 5%);
$tag-background        : lighten($foreground-color, 10%);
$tag-foreground        : darken($background-color, 5%);
$category-background   : lighten($foreground-color, 10%);
$category-foreground   : darken($background-color, 5%);
$date-background       : lighten($foreground-color, 10%);
$date-foreground       : darken($background-color, 5%);
$time-background       : lighten($foreground-color, 10%);
$time-foreground       : darken($background-color, 5%);

/* Social icon colors */
$facebook-foreground   : $facebook-color;
$facebook-background   : $background-color;
$linkedin-foreground   : $linkedin-color;
$linkedin-background   : $background-color;
$twitter-foreground    : $twitter-color;
$twitter-background    : $background-color;
$rss-foreground        : $rss-color;
$rss-background        : $background-color;
$email-foreground      : $email-color;
$email-background      : $background-color;
$print-foreground      : $print-color;
$print-background      : $background-color;
$gplus-foreground      : $gplus-color;
$gplus-background      : $background-color;
$github-foreground     : $github-color;
$github-background     : $background-color;

/* Fonts */
$header-font  : 'PT Serif', -apple-system, BlinkMacSystemFont, "Segoe UI SemiLight", "Ubuntu", "Ubuntu Mono", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$normal-font  : 'PT Sans', -apple-system, BlinkMacSystemFont, "Calibri", "Ubuntu", "Ubuntu Mono", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", serif;
