.blockquote
{
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
  //border-radius: $chip-radius;
  &.info
  {
    background-color: lighten($info, 40%);
    //border: 0.05rem solid $info;
    border-left: 0.25rem solid darken($info, 20%);
      color: darken($info, 20%);
  }
  &.danger
  {
    background-color: lighten($danger, 40%);
    //border: 0.05rem solid $danger;
    border-left: 0.25rem solid darken($danger, 20%);
      color: darken($danger, 20%);
  }
  &.success
  {
    background-color: lighten($success, 40%);
    //border: 0.05rem solid $success;
    border-left: 0.25rem solid darken($success, 20%);
      color: darken($success, 20%);
  }
  &.warning
  {
    background-color: lighten($warning, 40%);
    //border: 0.05rem solid $warning;
    border-left: 0.25rem solid darken($warning, 20%);
      color: darken($warning, 20%);
  }
}
