.footer
{
    z-index: $footer-zindex;
    width: 100%;
    background-color: var(--footer-background-color);
    color: var(--footer-foreground-color);
    padding: 0.2rem;
    bottom: 0;
    position: fixed;
    p
    {
        margin: 0.2rem auto;
    }
    @include until($mobile)
    {
        #powered-by
        {
            display: none;
        }
        #last-modified
        {
            display: none;
        }
    }
    @include within($mobile, $minitablet)
    {
        #powered-by
        {
            display: none;
        }
    }
    @include from($tablet)
    {
        position: fixed;
        bottom: 0;
    }
    &.hidden
    {
        visibility: hidden;
    }
    a
    {
        color: var(--footer-foreground-color);
        font-weight: bold;
    }
    &.center {
        text-align: center;
    }
}
