.blog-toc
{
    /*position: sticky;
    top: 2rem;*/
    /*padding-right: 1rem;*/
}

@include sticky("blog-toc-", $navbar-header-size + 2 * $navbar-header-vert-margin + 1.2rem);

.blog-toc-title
{
    border: 0.05rem solid #bbc8c8;
    margin: 0;
    padding: 1rem;
    background-color: $primary-background-color;
    color: $primary-foreground-color;
}

.blog-toc-contents
{
    /*a
    {
        display: block;
    }
    ul
    {
        list-style-type: none;
        margin: 0.5rem;
        padding: 0;
        p
        {
            margin: 0;
        }
    }
    li
    {
        padding: 0.3rem;
        ul
        {
            margin: 0 1rem;
        }
        a
        {
            text-decoration: none;
            //border-bottom: 0.01rem solid black;
        }
    }*/
    border: 0.05rem solid #bbc8c8;
}

.toc__menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    ul
    {
        list-style-type: none;
        padding: 0;
    }
    li a
    {
        font-size: 1.05rem;
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 0.6rem;
        border-bottom: 0.05rem solid #bbc8c8;
    }
    li.active a
    {
        color: $primary-foreground-color;
        background-color: $primary-background-color;
        font-size: 1.05rem;
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 0.6rem;
        border-bottom: 0.05rem solid #bbc8c8;
    }
    li li a
    {
        font-size: 0.95rem;
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 1.75rem;
    }
    li li.active a
    {
        color: $primary-foreground-color;
        background-color: $primary-background-color;
        font-size: 0.95rem;
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 1.75rem;
    }
    li li li a
    {
        font-size: 0.85rem;
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 2.5rem;
    }
    li li li.active a
    {
        color: $primary-foreground-color;
        background-color: $primary-background-color;
        font-size: 0.85rem;
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 2.5rem;
    }
    a
    {
        display: block;
    }
}


.blog-body
{
    li
    {
        p
        {
            margin: 0;
        }
    }
    // Reference: http://jsfiddle.net/5HQ7p/
    h1:after, h2:after
    {
        content: ' ';
        display: block;
        border: 0.05rem solid #d0d0d0;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }
    h1, h2
    {
        display: flex;
    }
    h1:after
    {
        height: 0.1rem;
    }
    h2:after
    {
        height: 0.05rem;
    }
    h1:after, h2:after
    {
        content: " ";
        background: linear-gradient(to right, black, grey);
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: auto;
        margin: .75em 2px 0 3px;
        flex-grow: 1;
        border-radius: 2px;
    }
}

.relatedPosts
{
    padding: 2rem 0;
}
