.project-item
{
    @extend .card;
    padding: 0.5rem;
    position: relative;
    @include from($laptop)
    {
        &:nth-child(odd)
        {
            margin: 0.5rem 0.5rem 0.5rem 0;
        }
        &:nth-child(even)
        {
            margin: 0.5rem 0 0.5rem 0.5rem;
        }
        width: 49%;
        float: left;
        box-sizing: border-box;
        min-height: 18rem;
    }
    @include until($laptop)
    {
        min-height: 10rem;
        margin-bottom: 0.5rem;
    }
    @include clearfix;
    @include heading($navbar-header-size, $navbar-header-size - 0.2);
}

.project-item a
{
    text-decoration: none;
}

.project-header
{
    margin-bottom: 0.4rem;
    color: $header-font-color;
    a
    {
        color: $header-font-color;
    }
    @include until($laptop)
    {
        width: 80%;
    }
    @include from($laptop)
    {
        width: 75%;
    }
}

.project-title
{
    font-size: $header-font-size - (0.4*2);
    margin: $header-font-size - (0.4*4) 0;
    /*margin: 0.5rem 0;*/
}

.project-status
{
    background-color: $background-color;
    margin: -1.4rem 0 0 0;
}

.excerpt
{
    padding: 0.5rem 0;
}