@media print {
    .no-print {
        display: none !important;
        visibility: hidden !important;
    }
    body {
        margin: 1rem;
    }
    .navbar
    {
        position: relative;
    }
}
