---
layout: page
pagination:
  enabled: true
title: Blog
style: |
  /* You can put any CSS here */
  /* Just indent it with two spaces */
  /* And don't forget the | after "style: " */
  p
  {
    display: inline;
  }
---

<style type="text/css">
{{ page.style }}
</style>

<!--<div class="search-content">
    <input type="text" id="search-blog" class="search-input" placeholder="Enter your search term here ..." />
    <div id="results-blog" class="results"></div>
</div>-->
<div class="posts" id="main-content">
{% for post in paginator.posts %}
{% if post.publish == true %}
<div class="blog-item card" style="display: block;">
    <header class="blog-header">
    <h5 class="blog-title"><a href="{{site.baseurl}}{{post.url}}" lang="en">{{post.title}}</a></h5>
    <div class="blog-info">
        <span class="date"><span class="date-content"><b>Published:</b> {{post.published | date: "%d %B %Y"}} </span></span>
        <!--<span class="date">Modified: {{post.last_modified_at | date: "%d %B %Y %R IST"}}</span>-->
        <!--<span>
            {% for tag in post.tags %}
            <a class="tag" href="/blog/tags/#{{tag | slugify: 'pretty'}}">{{tag}}</a>
            {% endfor %}
        </span>-->
        <span class="time"><span class="time-content">{% assign words_per_minute = site.words_per_minute | default: 200 %}
        {% assign words = post.content | strip_html | number_of_words %}
        {% if words < words_per_minute %}
        ~1&nbsp;min&nbsp;read
        {% else %}
        {{ words | divided_by:words_per_minute }}&nbsp;min&nbsp;read
        {% endif %}</span></span>
    </div>
    <!--<span>Tags: {% for tag in post.tags %} {{tag}} {% endfor %}</span>-->
    </header>
    <article class="blog-excerpt">
        {% assign text = post.excerpt %}
        {% if text.size > 500 %}
        {% assign text = text | truncatewords: 20 %}
        {% endif %}
        {{ text | markdownify }} ... <a style="display: inline;" href="{{site.baseurl}}{{post.url}}" lang="en">Read More</a>
    </article>
</div>
{% endif %}
{% endfor %}
</div>
{% include pagination.html %}