<footer class="footer center" style="clear: both;">
    <center>
        <p>
            &copy;&nbsp;<a href="{{site.baseurl}}">{{site.author.name}}</a>. Last Modified:
            <span id="#last-modified"></span>
            <script>
                let date = new Date(document.lastModified);
                let date_string = date.toDateString() + " " + date.toLocaleTimeString();
                last_modified = document.getElementById("#last-modified");
                last_modified.innerHTML = date_string;
            </script>
        </p>
    </center>
</footer>
