<!-- SEO Tags -->
{% comment %}
{% seo %}
{% endcomment %}
{{site.url}}
{{site.baseurl}}
{{page.url}}
{{ site.url }}{{ site.baseurl }}{{ page.url}}
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace: 'index.html', '' }}">
<!-- Open Graph -->
<meta property="og:locale" content="en_us" />
<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{page.url}}" />
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/favicon.ico" />
<meta property="og:site_name" content="Reboot lanyon" />
<meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 150 | escape }}" />
<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{site.data.author.usernames.twitter}}" />
<meta name="twitter:creator" content="@{{site.data.author.name}}" />
<!-- Site Verification -->
<meta name="google-site-verification" content="{{site.webmaster_verifications.google}}" />
<!-- Structured Data -->
<script type="application/ld+json">
{
    "@context"     : "http://schema.org",
    "@type"        : "WebSite",
    "name"         : "{{site.data.author.name}}",
    "author"       : {"@type":"Person","name":"{{site.data.author.name}}"},
    "url"          : "{{ site.url }}{{ site.baseurl }}{{page.url}}",
    "headline"     : "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
    "dateModified" : "{{last_modified_at}}",
    "sameAs"       : ["{{site.data.author.contact.twitter}}", "{{site.data.author.contact.facebook}}" , "{{site.data.author.contact.linkedin}}", "{{site.data.author.contact.github}}"],
}
</script>
<!-- Meta Tags -->
<meta name="author" content="{{site.data.author.name}}" />
<meta name="Description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 150 | escape }}">


