<nav class="navbar" role="navigation">
<div class="container">
  <div class="navbar-content">
    {% assign menu = site.data.menu %}
    <h1 class="navbar-header"><a href="{{site.baseurl}}{{menu[0].url}}">{{site.title}}</a></h1>
    <ul class="navbar-menu">
    {% for menuItem in menu %}
      {% assign url_size = menuItem.url | size | minus: 1 %}
      {% assign menu_url = menuItem.url | slice: 0, url_size %}
      <li class="{% if menuItem.sublinks %}navbar-dropdown{% endif %}
                  {% if menuItem.url != '/' and page.url contains menuItem.url %}
                  active
                  {% elsif page.url == menuItem.url or page.url == menu_url %}
                  active
                  {% endif %} navbar-menu-item">
        <span style="display:inline-block;">
          <a href="{{site.baseurl}}{{menuItem.url}}">
            <i class="fa fa-{{menuItem.icon}}"></i>&nbsp;{{menuItem.title}}
          </a>
        </span>
        {% if menuItem.sublinks %}
        <span class="dropdown-icon">
          <div style="padding:0rem 0.1rem;">
            <i class="fa fa-caret-down fa-fw"></i>
          </div>
        </span>
        {% endif %}
        {% if menuItem.sublinks %}
        <ul class="navbar-dropdown-menu">
          {% for sublink in menuItem.sublinks %}
          <li>
            <a href="{{site.baseurl}}{{sublink.url}}">
              <i class="fa fa-{{sublink.icon}}"></i>&nbsp;{{sublink.title}}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
</nav>
