{% comment %}
Reference: https://stackoverflow.com/questions/16791791/anchor-element-found-with-a-valid-href-attribute-but-no-link-content-has-been-s
{% endcomment %}
{% if paginator.total_pages > 1 %}
<div>
  <ul class="pager-block">
    {% if paginator.first_page %}
    <li class="first-page">
      <a href="{{ paginator.first_page_path | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}">
        <span class="sr-only">First page in {{ page.url | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}</span>
        <i class="fa fa-angle-double-left"></i>
      </a>
    </li>
    {% endif %}
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}">
        <span class="sr-only">Previous page in {{ page.url | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}</span>
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    {% else %}
    <li class="previous">
      <a class="disabled-link">
          <span class="sr-only">No previous page for {{ page.url | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}</span>
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    {% endif %}
    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %}class="selected"{% endif %}>
      <a href="{{ trail.path | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
    {% endfor %}
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}">
        <span class="sr-only">Next page in {{ page.url | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}</span>
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
    {% else %}
    <li class="next">
      <a class="disabled-link">
          <span class="sr-only">No next page for {{ page.url | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}</span>
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
    {% endif %}
    {% if paginator.last_page %}
    <li class="last-page">
      <a href="{{ paginator.last_page_path | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}">
        <span class="sr-only">Last page in {{ page.url | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}</span>
        <i class="fa fa-angle-double-right"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}
