{% assign url = page.url %}
{% if url contains 'blog' or url contains 'projects' %}
<script type="text/x-mathjax-config" defer>
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ['\\(','\\)'] ],
            displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
            processEscapes: true
        },
        TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS_HTML-full" defer></script>
{% endif %}
<script>
  var toggle_sidebar = () => {
    let sidebar = document.getElementById("sidebar");
    sidebar.classList.toggle("on");
    let main_content = document.getElementById("main-content");
    main_content.classList.toggle("off");
    let sidebar_toggle = document.getElementById("sidebar-toggle");
    sidebar_toggle.classList.toggle("off");
    // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    let footer = document.getElementById("footer");
    footer.classList.toggle("hidden");
  };
  var open_sidebar = () => {
    let sidebar = document.getElementById("sidebar");
    sidebar.classList.remove("off");
    sidebar.classList.add("on");
    let main_content = document.getElementById("main-content");
    main_content.classList.remove("on");
    main_content.classList.add("off");
    let sidebar_toggle = document.getElementById("sidebar-toggle");
    sidebar_toggle.classList.remove("on");
    sidebar_toggle.classList.add("off");
    // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    let footer = document.getElementById("footer");
    footer.classList.add("hidden");
  };
  var close_sidebar = () => {
    let sidebar = document.getElementById("sidebar");
    sidebar.classList.remove("on");
    sidebar.classList.add("off");
    let main_content = document.getElementById("main-content");
    main_content.classList.remove("off");
    main_content.classList.add("on");
    let sidebar_toggle = document.getElementById("sidebar-toggle");
    sidebar_toggle.classList.remove("off");
    sidebar_toggle.classList.add("on");
    // document.body.style.backgroundColor = "white";
    let footer = document.getElementById("footer");
    footer.classList.remove("hidden");

  };
</script>
{% if url contains '/search' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.2/lunr.min.js" defer></script>
{% endif %}
{% if url contains 'blog/search' and site.environment == "production" %}
<script type="text/javascript" src="{{site.baseurl}}/public/js/blog.js" defer></script>
{% endif %}
{% if url contains 'blog/search' and site.environment == "development" %}
<script type="text/javascript" src="{{site.baseurl}}/public/js/posts.js" defer></script>
<script type="text/javascript" src="{{site.baseurl}}/public/js/search-blog.js" defer></script>
{% endif %}
{% if url contains 'projects/search' and site.environment == "production" %}
<script type="text/javascript" src="{{site.baseurl}}/public/js/project.js" defer></script>
{% endif %}
{% if url contains 'projects/search' and site.environment == "development" %}
<script type="text/javascript" src="{{site.baseurl}}/public/js/projects.js" defer></script>
<script type="text/javascript" src="{{site.baseurl}}/public/js/search-project.js" defer></script>
{% endif %}
{% if page.content contains "code" %}
<script type="text/javascript" src="{{site.baseurl}}/public/plugins/prism/prism.min.js" defer></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js" defer></script>-->
{% endif %}
{% if site.environment == "production" %}
{% include google-analytics.html %}
{% endif %}
