{% assign url = page.url %}
{% if url contains 'blog' or url contains 'projects' %}
<script type="text/x-mathjax-config" defer>
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ['\\(','\\)'] ],
            displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
            processEscapes: true
        },
        TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS_HTML-full" defer></script>
{% endif %}
{% if site.sidebar.display == "push" %}
<script>
  var toggle_sidebar = () => {
    //console.log("toggle sidebar caleed");
    let sidebar = document.getElementById("sidebar");
    sidebar.classList.toggle("on");
    let main_content = document.getElementById("main-content");
    main_content.classList.toggle("off");
    let sidebar_toggle = document.getElementById("sidebar-toggle").parentNode;
    /*console.log("Sidebar toggle");
    console.log(sidebar_toggle);*/
    sidebar_toggle.classList.toggle("off");
    // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    let footer = document.getElementById("footer");
    footer.classList.toggle("hidden");
  };
</script>
{% else %}
<script>
  var toggle_sidebar = () => {
    //console.log("toggle sidebar caleed");
    let sidebar = document.getElementById("sidebar");
    sidebar.classList.toggle("on");
    // let main_content = document.getElementById("main-content");
    // main_content.classList.toggle("off");
    // let sidebar_toggle = document.getElementById("sidebar-toggle").parentNode;
    // /*console.log("Sidebar toggle");
    // console.log(sidebar_toggle);*/
    // sidebar_toggle.classList.toggle("off");
    // // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    // let footer = document.getElementById("footer");
    // footer.classList.toggle("hidden");
  };
</script>
{% endif %}
{% comment %}
<script>
  var open_sidebar = () => {
    let sidebar = document.getElementById("sidebar");
    sidebar.classList.remove("off");
    sidebar.classList.add("on");
    let main_content = document.getElementById("main-content");
    main_content.classList.remove("on");
    main_content.classList.add("off");
    let sidebar_toggle = document.getElementById("sidebar-toggle");
    sidebar_toggle.classList.remove("on");
    sidebar_toggle.classList.add("off");
    // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    let footer = document.getElementById("footer");
    footer.classList.add("hidden");
  };
  var close_sidebar = () => {
    let sidebar = document.getElementById("sidebar");
    sidebar.classList.remove("on");
    sidebar.classList.add("off");
    let main_content = document.getElementById("main-content");
    main_content.classList.remove("off");
    main_content.classList.add("on");
    let sidebar_toggle = document.getElementById("sidebar-toggle");
    sidebar_toggle.classList.remove("off");
    sidebar_toggle.classList.add("on");
    // document.body.style.backgroundColor = "white";
    let footer = document.getElementById("footer");
    footer.classList.remove("hidden");
  };
</script>
{% endcomment %}
{% if site.sidebar.display == "push" %}
<script>
  (function(document) {
    var sidebar_toggle = document.querySelector("#sidebar-toggle");
    var sidebar_toggle_id = document.getElementById("sidebar-toggle").parentNode;
    var sidebar_close = document.querySelector("#sidebar-close");
    var sidebar = document.querySelector("#sidebar");

    document.addEventListener("click", function(e) {
      var target = e.target;
      let to_toggle = false;
      /*console.log(target);
      console.log(sidebar_close);
      console.log(sidebar);
      console.log(sidebar_toggle_id);
      console.log(sidebar_toggle_id.classList);
      console.log(typeof sidebar_toggle_id.classList);
      console.log(sidebar_toggle_id.classList.contains("on"));*/
      if (target === sidebar_toggle || target === sidebar_close) {
        //console.log("Hit 1");
        to_toggle = true;
        e.preventDefault();
      } else if (sidebar_toggle_id.classList.contains("off") === true && !sidebar.contains(target)) {
        /* click outside the sidebar when sidebar is open */
        //console.log("Hit 2");
        to_toggle = true;
        //e.preventDefault();
      }
      if(to_toggle === true) {toggle_sidebar();}
    }, false);
  })(document);
</script>
{% else %}
<script>
  (function(document) {
    var sidebar_toggle = document.querySelector("#sidebar-toggle");
    var sidebar_id = document.getElementById("sidebar");
    var sidebar_close = document.querySelector("#sidebar-close");
    var sidebar = document.querySelector("#sidebar");

    document.addEventListener("click", function(e) {
      var target = e.target;
      let to_toggle = false;
      /*console.log("2");
      console.log(target);
      console.log(sidebar_close);
      console.log(sidebar);
      console.log(sidebar_id);
      console.log(sidebar_id.classList);
      console.log(typeof sidebar_id.classList);
      console.log(sidebar_id.classList.contains("on"));*/
      if (target === sidebar_toggle || target === sidebar_close) {
        //console.log("Hit 1");
        to_toggle = true;
        e.preventDefault();
      } else if (sidebar_id.classList.contains("on") === true && !sidebar.contains(target)) {
        /* click outside the sidebar when sidebar is open */
        //console.log("Hit 2");
        to_toggle = true;
        //e.preventDefault();
      }
      if(to_toggle === true) {toggle_sidebar();}
    }, false);
  })(document);
</script>
{% endif %}
{% if url contains '/search' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.2/lunr.min.js" defer></script>
{% endif %}
{% if url contains 'blog/search' and site.environment == "production" %}
<script type="text/javascript" src="{{site.baseurl}}/public/js/blog.js" defer></script>
{% endif %}
{% if url contains 'blog/search' and site.environment == "development" %}
<script type="text/javascript" src="{{site.baseurl}}/public/js/posts.js" defer></script>
<script type="text/javascript" src="{{site.baseurl}}/public/js/search-blog.js" defer></script>
{% endif %}
{% if url contains 'projects/search' and site.environment == "production" %}
<script type="text/javascript" src="{{site.baseurl}}/public/js/project.js" defer></script>
{% endif %}
{% if url contains 'projects/search' and site.environment == "development" %}
<script type="text/javascript" src="{{site.baseurl}}/public/js/projects.js" defer></script>
<script type="text/javascript" src="{{site.baseurl}}/public/js/search-project.js" defer></script>
{% endif %}
{% if page.content contains "code" %}
<script type="text/javascript" src="{{site.baseurl}}/public/plugins/prism/prism.min.js" defer></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js" defer></script>-->
{% endif %}
{% if site.environment == "production" %}
{% include google-analytics.html %}
{% endif %}
{% if page.toc == true %}
<script>
  var toggle_toc = () =>
  {
    console.log("Toggling TOC");
    let show_hide_toc = document.getElementById("show-hide-toc");
    let blog_toc = document.getElementById("blog-toc");
    let blog_body = document.getElementById("blog-body");
    console.log(show_hide_toc);
    console.log(blog_toc);
    console.log(blog_body);
    blog_toc.classList.toggle("zero-width");
    blog_toc.classList.toggle("visibility-hidden");
    blog_toc.classList.toggle("no-padding");
    blog_body.classList.toggle("full-width");
    blog_body.classList.toggle("no-padding");
    if (blog_toc.classList.contains("zero-width") === false)
    {
      show_hide_toc.innerText = "Hide TOC";
    }
    else
    {
      show_hide_toc.innerText = "Show TOC";
    }
  }
</script>
{% endif %}
<script type="text/javascript">
  /*window.onload = function()
  {*/
  var data =
  {
    "name"         : "{{site.author.name}}",
    "author"       : {"@type":"Person","name":"{{site.author.name}}"},
    "@type"        : "WebSite",
    "url"          : "{{site.url}}{{site.baseurl}}{{page.url}}",
    "headline"     : "Home",
    "dateModified" : "",
    "sameAs"       : ["{{site.author.contact.twitter}}", "{{site.author.contact.facebook}}" , "{{site.author.contact.linkedin}}", "{{site.author.contact.github}}"],
    "@context"     : "http://schema.org"
  }
  var dateModified = document.lastModified;
  console.log(dateModified);
  data.dateModified = dateModified;
  var script = document.createElement('script');
  script.type = "application/ld+json";
  script.innerHTML = JSON.stringify(data);
  console.log(script);
  console.log(document.getElementsByTagName('head')[0]);
  document.getElementsByTagName('head')[0].appendChild(script);
  /*}*/
</script>
<script type="text/javascript" src="{{site.baseurl}}/public/plugins/scrollspy/scrollspy.js"></script>
<script>
  console.log("Calling scrollspy");
  const toc_menu = document.querySelector('#toc-menu');
  const blog_body = document.querySelector('#blog-body');
  const scrollspy = new VanillaScrollspy(toc_menu, blog_body);
  scrollspy.init();
</script>
