<noscript>Your browser does not support JavaScript!</noscript>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js" defer></script>
<!--<script src="{{site.baseurl}}/public/plugins/prism/prism.js" defer></script>-->
<script src="{{site.baseurl}}/public/plugins/highlight/highlight.js" defer></script>
<script type="text/x-mathjax-config" defer>
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ['\\(','\\)'] ],
            displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
            processEscapes: true
        }
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS_HTML-full" defer></script>
{% assign url = page.url %}
{% if url contains 'blog/search' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.5/lunr.min.js" defer></script>
<!--<script type="text/javascript" src="/public/plugins/lunr/posts.json"></script>-->
<!--<script type="text/javascript" src="{{site.baseurl}}/public/plugins/lunr/posts.js" defer></script>
<script type="text/javascript" src="{{site.baseurl}}/public/plugins/lunr/search-blog.js" defer></script>-->
<script type="text/javascript" src="{{site.baseurl}}/public/js/blog.js" defer></script>
{% endif %}
{% if url contains 'projects/search' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.5/lunr.min.js" defer></script>
<!--<script type="text/javascript" src="/public/plugins/lunr/posts.json"></script>-->
<!--<script type="text/javascript" src="{{site.baseurl}}/public/plugins/lunr/projects.js" defer></script>
<script type="text/javascript" src="{{site.baseurl}}/public/plugins/lunr/search-project.js" defer></script>-->
<script type="text/javascript" src="{{site.baseurl}}/public/js/project.js" defer></script>
{% endif %}
<script>
(function(document)
{
    var toggle = document.querySelector('.sidebar-toggle');
    var sidebar = document.querySelector('#sidebar');
    var checkbox = document.querySelector('#sidebar-checkbox');
    document.addEventListener('click', function(e)
    {
        var target = e.target;
        if (target === toggle)
        {
            checkbox.checked = !checkbox.checked;
            e.preventDefault();
        }
        else if (checkbox.checked && !sidebar.contains(target))
        {
            /* click outside the sidebar when sidebar is open */
            checkbox.checked = false;
        }
    }, false);
})(document);
</script>
{% include google-analytics.html %}