<div class="share-content" style="display: flex; flex-direction: row; text-align: center;">
  <a class="share facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}/{{page.url}}" target="_blank" rel="noopener noreferrer" title="Share on Facebook">
    <i class="fab fa-facebook-f"></i><!--Share-->
  </a>
  <a class="share gplus" href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}/{{page.url}}" target="_blank" rel="noopener noreferrer" title="Share on Google+">
    <i class="fab fa-google-plus-g"></i><!--Share-->
  </a>
  <a class="share twitter" href="https://twitter.com/intent/tweet?original_referer={{ site.url }}{{ site.baseurl }}/{{page.url}}&text={{page.title}}&url={{ site.url }}{{ site.baseurl }}/{{page.url}}&via={{site.data.author.usernames.twitter}}" target="_blank" rel="noopener noreferrer" title="Share on Twitter">
    <i class="fab fa-twitter"></i><!--Tweet-->
  </a>
  <a class="share linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}/{{page.url}}&title={{page.title}}&summary={{post.excerpt}}&source={{ site.url }}{{ site.baseurl }}/{{page.url}}" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn">
    <i class="fab fa-linkedin-in"></i><!--LinkedIn-->
  </a>
  <a class="share email" href="mailto:?subject={{page.title}}&body={{post.excerpt}}" target="_blank" title="Send an email" data-proofer-ignore>
    <i class="fa fa-envelope"></i><!--Email-->
  </a>
  <a class="share print" href="javascript:window.print()" target="_blank" title="Print the article">
    <i class="fa fa-print"></i><!--Print-->
  </a>
</div>
