<center>
    <div class="share-content">
        <a class="share facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.baseurl}}{{page.url}}" target="_blank" title="Share on Facebook">
            <!--Share-->
        </a>
        <a class="share gplus" href="https://plus.google.com/share?url={{site.baseurl}}{{page.url}}" target="_blank" title="Share on Google+">
            <!--Share-->
        </a>
        <a class="share twitter" href="https://twitter.com/intent/tweet?original_referer={{site.baseurl}}{{page.url}}&text={{page.title}}&url={{site.baseurl}}{{page.url}}&via={{site.author.usernames.twitter}}" target="_blank" title="Share on Twitter">
            <!--Tweet-->
        </a>
        <a class="share linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.baseurl}}{{page.url}}&title={{page.title}}&summary={{post.excerpt}}&source={{site.baseurl}}{{page.url}}" target="_blank" title="Share on LinkedIn">
            <!--LinkedIn-->
        </a>
        <a class="share email" href="mailto:?subject={{page.title}}&body={{post.excerpt}}" target="_blank" title="Send an email" data-proofer-ignore>
            <!--Email-->
        </a>
        <a class="share print" href="javascript:window.print()" target="_blank" title="Print the article">
            <!--Print-->
        </a>
    </div>
</center>