.actual-content
{
    /*figure
    {
        margin-left: 0.6rem;
        margin-right: 0.6rem;
    }*/
}

.projects
{
    /*margin: 0 $main-content-margin;*/
    @include from($laptop)
    {
        display: flex;
        flex-wrap: wrap;
    }
}