.dropdown::after
{
    @include down-icon;
}

.dropdown-content
{
    display: none;
    position: absolute;
    z-index: 1000;
    a
    {
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
    }
}

.dropdown:hover + .dropdown-content
{
    display: block;
    li
    {
        width: 100%;
    }
    li a
    {
        display: block;
        text-align: left;
    }
    margin-top: 0;
    margin-left: -3rem;
}
