.col-dp-1
{
  width: calc(1/12 * 100%);
  @include grid-spec;
}
.col-dp-3
{
  @if $flex == true 
  {
    @include grid-col-width(calc(3/12 * 100%));
  }
  @else
  {
    width: calc(3/12 * 100%); 
  }
  @include grid-spec;
}
.col-dp-4
{
  width: calc(4/12 * 100%);
  @include grid-spec;
}
.col-dp-6
{
  @if $flex == true 
  {
    @include grid-col-width(calc(6/12 * 100%));
  }
  @else
  {
    width: calc(6/12 * 100%); 
  }
  @include grid-spec;
}
.col-dp-8
{
  width: calc(8/12 * 100%);
  @include grid-spec;
}
.col-dp-9
{
  @if $flex == true 
  {
    @include grid-col-width(calc(9/12 * 100%));
  }
  @else
  {
    width: calc(9/12 * 100%); 
  }
  @include grid-spec;
}
.col-dp-11
{
  width: calc(11/12 * 100%);
  @include grid-spec;
}
.col-dp-12
{
  width: calc(12/12 * 100%);
  @include grid-spec;
}
