.container
{
    position: relative;
    margin: 0 auto;
    @include until($mobile)
    {
        width: 90%;
        max-width: 90%;
    }
    @include within($mobile, $minitablet)
    {
        width: 85%;
        max-width: 85%;
    }
    @include within($minitablet, $tablet)
    {
        width: 80%;
        max-width: 80%;
    }
    @include within($tablet, $laptop)
    {
        width: 80%;
        max-width: 80%;
    }
    @include within($laptop, $desktop)
    {
        width: 80%;
        max-width: 80%;
    }
    @include within($desktop, $fullhd)
    {
        width: 80%;
        max-width: 80%;
    }
}
