.grid-container
{
    width: 100%; 
}

/*-- our cleafix hack -- */ 
.grid-row:before, 
.grid-row:after
{
    content:"";
    display: table ;
    clear:both;
}

[class*='col-']
{
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    padding: 12px; 
    background-color: #FFDCDC;
}

.grid-col-3{ width: 50%;    }

.outline, .outline *
{
    outline: 1px solid #F6A1A1; 
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
 background-color: #FFC2C2; 
 padding: 0;
 margin: 0;
 text-align: center; 
 color: white; 
}