@mixin grid-spec
{
  float: left;
  padding: 0 0.5rem;
}

@mixin display-flex 
{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

@mixin grid-col-width($width)
{
  @include prefixer(flex, 0 0 $width, ms moz o spec);
  width: $width;
}