@mixin placeholder
{
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin prefixer($property, $value, $prefixes)
{
  @each $prefix in $prefixes
  {
    @if $prefix == webkit
    {
      -webkit-#{$property}: $value;
    }
    @else if $prefix == moz
    {
      -moz-#{$property}: $value;
    }
    @else if $prefix == ms
    {
      -ms-#{$property}: $value;
    }
    @else if $prefix == o
    {
      -o-#{$property}: $value;
    }
    @else if $prefix == spec
    {
      #{$property}: $value;
    }
    @else
    {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin transform($property: none)
{
  @include prefixer(transform, $property, webkit moz ms o spec);
}

@mixin transition($property: none)
{
  @include prefixer(transition, $property, webkit moz ms o spec);
}

@mixin clearfix
{
  &:before, &:after
  {
    content: '';
    display: table;
  }
  &:after
  {
    clear: both;
  }
}

@mixin heading($base-font-size, $base-vertical-margin)
{
  @for $i from 1 through 6
  {
    @if $i == 1
    {
      h#{$i}
      {
        font-size: $base-font-size;
        margin: $base-vertical-margin 0;
      }
    }
    @else
    {
      h#{$i}
      {
        font-size: $base-font-size - (($i - 1)*0.1);
        margin: $base-vertical-margin - (($i - 1)*0.1) 0;
      }
    }
  }
}

/* https://webdesign.tutsplus.com/tutorials/an-introduction-to-sass-maps-usage-and-examples--cms-22184 */
$utility: (
  info: $info,
  danger: $danger,
  warning: $warning,
  success: $success
);

@mixin component($component)
{
  @each $name, $value in $utility
  {
    .#{$component}-#{$name}
    {
      @extend .#{$component};
      background-color: lighten($value, 40%);
      border: 0.05rem solid darken($value, 20%);
      border-left: 0.25rem solid darken($value, 20%);
      color: darken($value, 20%);
    }
  }
}

@mixin sticky($prefix, $top-margin)
{
  .#{$prefix}sticky
  {
      @include from($minitablet) {
          position: sticky;

          top: $top-margin;
          /* Reference: https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox */
          @if $flex == true {
              align-self: flex-start;
          }
      }
  }
}

@mixin cols($screen, $widths)
{
  @for $i from 1 through length($widths) 
  {
    @if $screen != ''
    {
      .col-#{$screen}-#{$i}
      {
        @if $flex == true
        {
            @include grid-col-width(calc(#{nth($widths, $i)} * 100%));
        }
        @else
        {
            width: calc(#{nth($widths, $i)} * 100%);
        }
        padding: 0 0.5rem;
      }
    }
    @else
    {
      .col-#{$i}
      {
        @if $flex == true
        {
            @include grid-col-width(calc(#{nth($widths, $i)} * 100%));
        }
        @else
        {
            width: calc(#{nth($widths, $i)} * 100%);
        }
        padding: 0 0.5rem;
      }
    }
  }
}
