.page
{
    width: 100%;
}

.content
{
    margin-bottom: 4rem;
}

.content-header
{
    background-color: $content-background;
    color: $content-foreground;
    @if $flat == false
    {
        border-bottom-right-radius: $header-radius;
        border-bottom-left-radius: $header-radius;
    }
    @include until($tablet)
    {
        background-color: $background-color;
        color: $foreground-color;
    }
}
