.page
{
    width: 100%;
    margin: 0 $navbar-horiz-margin;
}


.page-content
{
    margin-bottom: 4rem;
    @include heading($navbar-header-size, $navbar-header-size - 0.2);
}

.page-title
{
    font-size: $navbar-header-size;
}
