/* https://codepen.io/brent_g/pen/qrOXWx */
.toc-box
{
    @include until($tablet)
    {
        margin: 2rem 0;
    }
    @include from($tablet)
    {
        float: right;
        width: 25%;
        position: sticky;
        top: 1rem;
        overflow: hidden;
    }
}
.actual-content
{
    @include until($tablet)
    {
        margin: 0 auto;
    }
    @include from($tablet)
    {
        width: 70%;
    }
    /*h1
    {
        font-size: $header-font-size - (0.2*1);
        margin: $header-font-size -(0.4*2) 0;
    }
    h2
    {
        font-size: $header-font-size - (0.2*2);
        margin: $header-font-size -(0.4*3) 0;
    }
    h3
    {
        font-size: $header-font-size - (0.2*3);
        margin: $header-font-size -(0.4*4) 0;
    }
    h4
    {
        font-size: $header-font-size - (0.2*4);
        margin: $header-font-size -(0.4*5) 0;
    }
    h5
    {
        font-size: $header-font-size - (0.2*5);
        margin: $header-font-size -(0.4*6) 0;
    }
    h6
    {
        font-size: $header-font-size - (0.2*6);
        margin: $header-font-size -(0.4*7) 0;
    }*/
    @include heading($navbar-header-size, $navbar-header-size - 0.2);
}

.toc-menu
{
    border: 0.1rem solid #bbc8c8;
    @if flat == false
    {
        border-radius: 0.2rem;
    }
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.125);
}
.toc-header
{
    color: $background-color;
    background-color: $foreground-color;
    margin: 0;
    padding: 0.5rem 0;
}
.toc-content
{
    @include until($tablet)
    {
        max-height: 18rem;
    }
    @include from($tablet)
    {
        max-height: 26rem;
    }
    overflow-y: auto;
}
.toc
{
    header
    {
        border-bottom: 0.05rem solid #bbc8c8;
        text-align: center;
    }
}


.toc__menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    ul
    {
        list-style-type: none;
        padding: 0;
    }
    li a
    {
        font-size: 1.05rem;
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 0.6rem;
        border-bottom: 0.05rem solid #bbc8c8;
    }
    li li a
    {
        font-size: 0.95rem;
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 1.75rem;
    }
    li li li a
    {
        font-size: 0.85rem;
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 2.5rem;
    }
    a
    {
        display: block;
    }
}

.post-date
{
    /*width: 15%;
    @include until($desktop)
    {
        width: 35%;
    }*/
    vertical-align: top;
    text-align: right;
    display: inline-block;
}
.post-title
{
    /*width: 80%;
    @include until($desktop)
    {
        width: 60%;
    }*/
    text-align: left;
    margin-left: 0.25rem;
    display: inline-block;
    font-size: $navbar-header-size;
}
.relatedPosts
{
    margin: 2rem 0;
}

.hidden
{
    visibility: hidden;
}