.center
{
    margin: 0 auto;
    @include until($tablet)
    {
        width: 95%;
    }
    @include from($tablet)
    {
        width: 85%;
    }
}

.fixed-bottom
{
    position: absolute;
    bottom: 0;
}

.fixed-top
{
    position: absolute;
    top: 0;
}

.fixed
{
    position: fixed;
}