/*.chip
{
    display: inline-block;
    height: 1.8rem;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.6);
    line-height: 1.8rem;
    padding: 0 0.75rem;
    border-radius: 0.4rem;
    background-color: #e4e4e4;
    margin: 0.3rem 0.3rem 0.3rem 0;
}*/

.chip
{
    display: inline-block;
    /*padding: 0.05rem 0.2rem;*/
    @if $flat == true
    {
        border-radius: 0px;
    }
    @else
    {
        border-radius: var(--chip-corner-radius);
    }
    font-size: 0.9rem;
    margin: 0.2rem;
    text-decoration: none;
    background-color: var(--chip-background-color);
    color: var(--chip-foreground-color);
    border: 0.05rem solid black;
    &:hover
    {
        text-decoration: none;
    }
    .chip-content
    {
        padding: 0.1rem 0.2rem;
        display: inline-block;
        font-size: 0.9rem;
    }
    .chip-count
    {
        padding: 0.1rem 0.2rem;
        border-left: 0.05rem solid var(--chip-foreground-color);
        //background-color: darken($chip-background, 10%);
        //color: lighten($chip-background, 10%);
    }
    i.fa
    {
        color: var(--chip-foreground-color);
    }
}
