.chip
{
    &.ongoing
    {
        background-color: $warning;
        color: $primary;
        border: 0.05rem solid $warning;
    }
    &.complete
    {
        background-color: $success;
        color: $primary-foreground-color;
        border: 0.05rem solid $success;
    }
}
