.chip
{
    &.ongoing
    {
        background-color: $info;
        color: $primary-foreground-color;
    }
    &.complete
    {
        background-color: $success;
        color: $primary-foreground-color;
    }
}
